[2012-12-19 23:30] ghost opened #1 "Cannot reboot with snoopy installed"
Migrating issue from SourceForge:
https://sourceforge.net/tracker/?func=detail&aid=3437904&group_id=9226&atid=109226

Extensive info here:
https://bugzilla.redhat.com/show_bug.cgi?id=745603

Able to reproduce:

Unable to reproduce on:
- Slackware 12.2, 13.0 and 13.1, both x86 and x86_64 variation
- CentOS 6.3 x86_64

[2012-12-28 06:16] ghost opened #2 "Configurable argument lenght"
Migrating issue from sourceforge (and closing issue tracker there):
https://sourceforge.net/tracker/?func=detail&atid=359226&aid=3598683&group_id=9226

At first, I was thinking of making a patch vaguely along the lines of:
[code]

To make sure snoopy is logging the max default (without futzing with rlimit stack sizes) possible execve() command line. Then I noticed you mentioned on the forum to ope

[2013-02-03 01:31] #2 closed, assigned to bostjan

[2013-04-06 01:36] #1 closed, assigned to bostjan

[2013-06-18 20:20] socre8ive opened #4 "How to find MySQL data for logging into Snoopy"
I would like to add the commands that are executed within MySQL, is that possible using Snoopy?  We already use it to monitor many things, but having MySQL there would be awesome.

[2013-06-21 09:59] #4 closed, assigned to bostjan

[2013-06-25 15:40] socre8ive opened #5 "User who logs in and uses su or sudo -s is not tracked"
We have users who commonly are required to "sudo su" or "sudo -s" on our servers.  We have noticed that we see the commands ran from the user when they login however, when they are sudo'd it shows as uid:0 and there is not a way to trace the command run back to the original uid.

So, if we have 2 users who login, they both sudo su.  One runs rm -rf /home, the other runs touch /var/log/logtest.txt.

[2014-09-13 15:39] bostjan opened #10 "Customizable log format"
Here is the official feature discussion about customisable logging format.

It seems we have two options:
- compile time configuration
- use of a configuration file

Configuration file seems more flexible, but also more prone to errors. Using compile-time configuration would be more cumbersome for those who do not compile packages themselves.

The most sensible way to go about this would be to mak

[2014-09-13 15:49] bostjan opened #11 "Internal filtering"
There should be a possibility to add filtering capability to snoopy.

Background:
Certain versions of snoopy had a feature called "external filter". What it did was it called external program to filter log line just before snoopy would send it so syslog, giving users a possibility to manipulate log entries.
Needless to say, it was a disaster, lots of hanged systems because of execution loops (snoo

[2014-09-13 15:53] bostjan opened #12 "Custom input data collectors"
Currently snoopy uses a fixed set of data collection routines (get UID, GID, PID, cmd line, args, etc).

It would make great sense to move these into their own functions/modules, which would be all compiled into snoopy. Then these data generators would be available to be used when configuring log format (see #10 for more information) either on the ./configure line or via configuration file.

Comme

[2014-09-13 15:58] bostjan opened #13 "Optional configuration file"
Looking at the tickets #8, #9, #10, #11 and #12, it makes sense to make use of configuration file an optional feature, configurable at ./configure time. Those who would not want to use it (for any reason), can disable it.

Proposed features of configuration file:
- adjustment of logging format (using input data collectors #12 at will)
- creating on-the-fly data collectors (env:USER) for example
-

[2014-09-15 01:20] bostjan opened #14 "Debugging support"
When Issues #10, #11 and #12 are implemented, the need for debugging functionality will probably arise (especially for filter chains and data gathering modules).

[2014-10-14 00:30] #10 closed, assigned to bostjan

[2014-10-14 00:32] #12 closed, assigned to bostjan

[2014-10-18 01:25] #5 closed, assigned to bostjan

[2014-10-18 19:26] #11 closed, assigned to bostjan

[2014-10-20 00:29] renard opened #18 "Debian/Ubuntu packaging support"
You can find in my debian branch (https://github.com/renard/snoopy/tree/debian) all required files to build snoopy debian packages.

To build you just need to checkout the `debian` dir in current.

[code]

Hope that helps.

[2014-10-29 00:55] bostjan opened #20 "Make syslog configuration configurable in config file too"
Currently it is only possible to configure it with ./configure flags:
--with-syslog-facility=LOG_AUTHPRIV
--with-syslog-level=LOG_INFO

This should be configurable in snoopy.ini:
syslog_facility = "AUTHPRIV"
syslog_level = "INFO"

Also, these should be made case-insensitive and with configure line we should loose LOG_ prefix.

[2014-10-29 01:55] bostjan opened #21 "Upcoming 2.0.0 release"
Due date: 2014-11-11

[2014-10-29 12:59] falbani opened #22 "Cannot uninstall"
I installed it by using

apt-get install snoopy

and now no matter what i do it can't be uninstalled

apt-get remove snoopy
didn't do anything
purge either

please HELP!

[2014-10-29 13:24] #22 closed, assigned to bostjan

[2014-10-29 22:35] #13 closed, assigned to bostjan

[2014-11-01 09:48] #18 closed, assigned to bostjan

[2014-11-03 13:59] tsilen opened #24 "Corrupted log entries when cwd no longer exists"
This is with the current deb package for ubuntu 12.04 (1.8.0-3) so it could be that it's fixed already in later versions, but thought I would let you know just in case.

If the cwd where the program was started has been removed, snoopy log entry gets corrupted and instead of cwd we see some other data apparently from /proc/pid/status:

[code]

[2014-11-05 22:41] #24 closed, assigned to bostjan

[2014-11-05 22:42] #21 closed, assigned to bostjan

[2014-11-06 14:53] bostjan opened #27 "Create simple installer which builds and installs snoopy with single command"
This is intended for users who would like to use snoopy but are afraid of building it manually.

Command should be something in the form of:
wget -q -O - https://github.com/a2o/snoopy/raw/master/bin/snoopy-install.sh | sh

The script should:
- be distribution-agnostic
- detect latest stable snoopy version
- install all distribution-dependent build tools that are needed to build snoopy
- download l

[2014-11-07 02:43] #27 closed, assigned to bostjan

[2014-11-08 16:38] #20 closed, assigned to bostjan

[2014-11-13 17:21] jwbrown77 opened #28 "Problems With LVM Mounts in CentOS 7 with Snoopy Enabled"
Hi Bostjan,

As we had discussed in previous items, I am attempting to get Snoopy working properly in CentOS 7.  I thought I had figured it out.  After successfully building from the RPM spec and installing, I was able to confirm that commands were being properly.

However, upon restart, the system fails to boot because it claims it is timing out waiting for one of the LVM block devices; in my cas

[2015-01-10 23:50] bostjan commented on #28
Finally I've figured this one out (I think).

This is snoopy-journald issue.

For actual logging, snoopy uses syslog() syscall (which sends message to /dev/log socket, where system logger listens for it). On non-systemd OSes, if something happens (system logger not running), message is simply discarded (or it gets sent to console).

Systemd+journald behave quite differently. It pre-creates /dev/lo

[2015-01-11 04:28] bostjan commented on #28
Fixed in 2.2.1, just tested it, works :)

b.

[2015-01-11 04:28] #28 closed

[2015-01-12 16:23] jwbrown77 commented on #28
Thanks Bostjan!

[2015-02-10 23:27] sykosoft opened #29 "(informational) Pulseaudio fills logs with snoopy installed"
If, like us, you have users running desktop environments, you'll find pulseaudio filling your logs because of snoopy.

In this instance:

In /etc/pulse/client.conf
If it exists, uncomment "autospawn" and change to "no", otherwise, add a line

"autospawn = no"

(This is not a bug, but is informational, and I saw no where else to put it).

[2015-02-11 19:25] bostjan commented on #29
Thanks for reporting this issue **and** resolution.

I've refactored the documentation (desperately needed) and added this to Snoopy FAQ: https://github.com/a2o/snoopy/blob/master/doc/FAQ.md.

I hope that other affected users will find it easily enough :)

PS: I do not use Snoopy on my desktops, but: how much Snoopy content does PulseAudio generate per second?

[2015-02-19 10:58] henkjan opened #30 "console getting flooded with snoopy-2.2.3"
Installed the latest snoopy release with snoopy-install.sh on Redhat 6.6

After enabling the console is flooded with snoopy logging. Writing the messages to syslog seems broken in this release.

Tried to configure /etc/snoopy.ini

`output = syslog`

made no difference

[2015-02-19 17:12] rupikakapoor commented on #30
I am facing same issue, I tried to configure ../etc/snoopy.ini

syslog_facility = LOG_AUTHPRIV
syslog_level = LOG_DEBUG

as well as "./configure -enable-config-file --with-syslog-facility=AUTHPRIV --with-syslog-level=DEBUG —enable-root-only"

but no difference.

[2015-02-21 13:31] renier commented on #30
+1 I'm also experiencing this

[2015-02-22 11:31] bostjan commented on #30
Are you guys using stock rsyslog from rh packages or something else?

B.

[2015-02-22 16:14] bostjan commented on #30
Fixed in 2.2.4.

It turns out "devlog" output provider was implemented too-hastily and did not set syslog priority and facility correctly. Therefore all messages were treated with EMERG priority, which on RH gets sent to console by default.

About "output = syslog":
This is fixed now, but this variable was actually pending implementation and had a bit TODO next to it in snoopy.ini :)

b.

[2015-02-22 16:16] #29 closed

[2015-02-28 01:09] tkimball83 commented on #30
So while this is mostly fixed, I noticed it come back when I did an ansible run on one of my dev hosts:

TASK: [terminus | command | pwck] *********************************************

Message from syslogd@xxx at Feb 27 17:04:51 ...
 ecos: tkimball uid:0 sid:1375 tty:(none) cwd:/etc/ansible filename:/usr/local/bin/pwck]: pwck -s

Message from syslogd@xxx at Feb 27 17:04:51 ...
 ecos:tkimball uid:

[2015-03-01 02:13] tkimball83 opened #31 "Support DESTDIR in etc/Makefile.am"
When configuring snoopy using --enable-config-file, the Makefile in etc gets executed and snoopy.ini gets installed.  This is great, but unfortunately it doesn't inherit DESTDIR, so you can't build packages that install into a different build root, as it *always* installs into sysconfdir.

For now, I've hacked my RPM spec file like this:

%{__sed} -i -e 's/$(sysconfdir)\/snoopy.ini/$(DESTDIR)$(sys

[2015-03-02 08:59] bostjan commented on #31
All other files install correctly?

B.

[2015-03-02 09:01] bostjan commented on #30
It seems like old library is still loaded somewhere - did you reboot the system after snoopy upgrade?

B.

[2015-03-02 15:28] tkimball83 commented on #31
As far as I can tell, yes.  My RPM includes the following files:

# rpm -ql snoopy
/etc/ld.so.preload
/etc/snoopy.ini
/usr/bin/snoopy-test-output
/usr/lib64/libsnoopy.la
/usr/lib64/libsnoopy.so
/usr/lib64/libsnoopy.so.0
/usr/lib64/libsnoopy.so.0.0.0
/usr/sbin/snoopy-disable
/usr/sbin/snoopy-enable
/usr/share/doc/snoopy-2.2.4
/usr/share/doc/snoopy-2.2.4/COPYING
/usr/share/doc/snoopy-2.2.4/ChangeLog

[2015-03-02 16:38] bostjan commented on #31
Ah, yes, snoopy.ini is the only one which has custom installation steps instead of relying on automake's internal methods, in order to not overwrite existing configuration file.

Maybe it would be better if configuration file gets installed every time, but with .new or .x.y.z suffix and we can avoid this custom installation procedure and it's patching.

Thoughts?

b.

PS: If you submit a pull requ

[2015-03-02 23:53] tkimball83 commented on #30
Yup, rebooted.  If you do the following, you should be able to reproduce it.  You'll need the EPEL repository installed.

$ yum -y install ansible
$ ansible -m setup localhost

Message from syslogd@xxx at Mar  2 15:50:51 ...
 ecos:tkimball83 uid:0 sid:1154 tty:/dev/pts/1 cwd:/root filename:/usr/local/bin/ssh]: ssh -o ControlPersist

Message from syslogd@xxx at Mar  2 15:50:51 ...
 ecos:tkimball83

[2015-03-03 22:34] bostjan commented on #30
Yes, I see it now.

For some reason that is unknown ATM some messages get through without proper prefix that defines snoopy ID and log priority/facility.

Will look into this.
b.

[2015-03-03 23:17] bostjan commented on #30
Found it, I think it is fixed now (devlog output provider was not resetting configuration after changing it to use another output provider as a subroutine).

Could you try git master and confirm that this fixes it for you? Tnx.

[2015-03-03 23:39] tkimball83 commented on #30
Looks good now! :)

[2015-03-04 21:16] mfecteau34 opened #32 "reboot and shutdown hang on CentOS 7 (with systemd) when specifying message format"
Using snoopy version 2.2.4.

Seems to be the same issue as [this one](https://bugzilla.redhat.com/show_bug.cgi?id=957783)

I tried updating the kernel to a newer one : no difference, same problem.

Executing the command `/usr/local/sbin/snoopy-disable` before doing a reboot/shutdown will make the reboot/shutdown go smoothly but snoopy will be disabled after the reboot so that's not a solution.

Wi

[2015-03-04 22:35] bostjan commented on #31
Fixed in 2.2.5.

[2015-03-04 22:35] #31 closed

[2015-03-04 22:36] bostjan commented on #30
Fix released in 2.2.5 (will be up any minute now).

[2015-03-04 22:36] #30 closed

[2015-03-04 23:05] bostjan commented on #32
There is nothing like late night shutdown/reboot problems involving systemd :)
</rant>

Before you do anything else:
Do you still have the exact same version of snoopy that caused this very kernel panic? If so, could you please provide it somewhere online for me to analyze it?

A couple of additional questions:
- did you install via installation script provided online?
- could you please retest wi

[2015-03-04 23:53] bostjan commented on #32
Another thing: if you configure static output (message format that does not contain any input providers, but only logs the same static text all the time), does the hang happen too?

Did you configure message_format in snoopy.ini?

b.

[2015-03-05 00:11] mfecteau34 commented on #32
I used [this version](http://source.a2o.si/download/snoopy/snoopy-2.2.4.tar.gz).

We have many CentOS 5 and 6 servers, and those don't have this problem (no systemd).

I didn't install via online installation script.  I compiled it from source to specify a custom output format.  I compiled and installed first the version 2.2.3, but made a `make uninstall` (and reboot) of that version before instal

[2015-03-05 00:26] bostjan commented on #32
I did not mean the source code, I meant the actual compiled libsnoopy.so that is causing YOUR systems to hang :)

I believe one of the input providers is causing segfault, I have a hunch that it is either the "gid"-one (judging by your kernel panic message) or one of those that operate with string values (username, eusername, env...)

I suggest you do it like this:
* use 2.2.5
* build it with conf

[2015-03-05 00:30] bostjan commented on #32
"It's strange that it's causing trouble only on CentOS 7 with systemd and not on prior versions."

Heh, this is not the first systemd-related problem I have encountered. Precreating socket /dev/log and blocking syslog() system call on it until syslog is available, thus hanging the system on boot with snoopy installed was a funny one, and way more challenging to diagnose :)

[2015-03-05 00:47] mfecteau34 commented on #32
That's soo funny.  I thought to myself : "What the heck ? Why is he asking me the source code location ?"  :)

I recompiled with `./configure --enable-config-file --sysconfdir=/etc` and I added this line in `/etc/snoopy.ini` :
[code]

I rebooted twice. Result : problem solved.  By specifying the same message format in snoopy.ini instead at compile time, it fixes the problem.  Thank you !

[2015-03-05 00:56] bostjan commented on #32
Huh??? Now I *am* puzzled.

[2015-03-06 00:53] bostjan commented on #32
It turns out that all literal username/password providers were missing return value checks. The segfaults you have seen probably occured because at the very end of shutdown there was probably root filesystem missing or something similar, and thus syscalls to get username/group from uid/gid were failing and returning NULL values which were treated as regular strings.

The funny thing about config f

[2015-03-06 00:53] #32 closed

[2015-03-06 04:11] mfecteau34 commented on #32
Hmm, that's something that I could never have figured out.

I could only test it next monday. I will confirm at that time.

[2015-03-09 12:42] mfecteau34 commented on #32
Tested version 2.2.6 : problem solved.  Thank you !

[2015-03-09 16:37] bostjan commented on #32
Thanks for getting back with test result. Have fun! :)

[2015-03-19 00:05] ajzach opened #33 "ppid does not work"
I tried to show the ppid but not displayed correctly, if I enter to a machine via ssh, the ppid would not have to be the ppid of sshd?

[2015-03-19 00:16] bostjan commented on #33
I think "sid" would be more appropriate input provider for your use case, but still it returns the PID of console shell process (bash), not of sshd that created this bash process.

ppid simply means "parent pid", which is PID of the process that created the current process, not the SSHD's pid specifically.

If you are looking for data provider that traverses upwards the process tree until it finds

[2015-04-07 21:27] BIAndrews opened #38 "AM_PROG_AR not found in library"
# ./autogen.sh

Starting AutoTools run:

+ '[' -d autom4te.cache ']'
+ rm -rf autom4te.cache
+ autoreconf -i
configure.ac:13: warning: macro `AM_PROG_AR' not found in library
libtoolize: `./ltmain.sh' is newer: use `--force' to overwrite
libtoolize: `m4/libtool.m4' is newer: use `--force' to overwrite
libtoolize: `m4/ltoptions.m4' is newer: use `--force' to overwrite
libtoolize: `m4/ltversion.m4'

[2015-04-07 21:34] tkimball83 commented on #38
I've worked around this in my spec file by doing the following:

sed -i -e 's/^AM_PROG_AR/#AM_PROG_AR/' configure.ac

https://github.com/tkimball83/rpmbuild/blob/master/SPECS/snoopy.spec

[2015-04-07 22:59] BIAndrews commented on #38
Perfect thanks!

[2015-04-08 00:27] bostjan commented on #38
Which distro/autotools version are you using?

I had some issues with this one too. It might be better to disable it by default and adjust spec file, or maybe rewrite it manually. Opinions welcome.

B.

[2015-04-08 00:40] BIAndrews commented on #38
CentOS 6.6 64bit

autoconf (GNU Autoconf) 2.63
GNU Make 3.81
automake (GNU automake) 1.11.1

I'm not sure what distro requires it but if your base dev box is a RHEL flavor I would disable it by default.

[2015-04-08 07:38] bostjan commented on #38
It is required by debian/ubuntu packaging, not by snoopy itself.

B.

[2015-04-16 15:20] ajzach opened #39 "Snoopy crash the jvm"
I have Snoopy (the last version + my pull request) running in many servers, when a server is restarted the jvm falls:

hs_err_pid:

 A fatal error has been detected by the Java Runtime Environment:

  SIGSEGV (0xb) at pc=0x00007fab985724d7, pid=15146, tid=140374290736896

 JRE version: Java(TM) SE Runtime Environment (7.0_40-b43) (build 1.7.0_40-b43)
 Java VM: Java HotSpot(TM) 64-Bit Server VM (24

[2015-04-16 16:02] bostjan commented on #39
If you do not use the input provider you've created, does it still crash?
Does it only crash on reboot? What about when this Java process is restarted manuallz?

[2015-04-16 16:07] ajzach commented on #39
This is an extract from the analysis of core dump, you can see a "double free or corruption (out)" caused in configuration.c:128:

#2107 0x00007ff1b2163394 in __libc_message (do_abort=do_abort@entry=1, fmt=fmt@entry=0x7ff1b2271b28 "*** Error in `%s': %s: 0x%s ***\n")
---Type <return> to continue, or q <return> to quit---
    at ../sysdeps/posix/libc_fatal.c:175
        ap = {{gp_offset = 40, fp_of

[2015-04-16 16:59] bostjan commented on #39
I assume you configured message format in snoopy.ini, right?
Line src/configuration.c:128 contains free() for this char[] variable.

The code flow is quite simple:
- check config file
- read it
--> if it contains message_format variable, strdup() it, which uses malloc(), and remember this
- on shutdown, check of message_format was malloc()-ed and free it.

Ah, I see a possible explanation:
- if co

[2015-04-16 17:04] bostjan commented on #33
This issue was superseded and fixed by pull request #37.

[2015-04-16 17:04] #33 closed

[2015-04-16 17:08] bostjan commented on #38
@BIAndrews @tkimball83
If someone has a sane proposal on how to make this inclusion conditional, based on which distro is detected below, it would be splendid.

Otherwise I am more inclined to removing this from configure.ac and fixing spec file, so it reenables _AR macro when it is actually needed.

b.

[2015-04-16 17:31] bostjan commented on #39
And another question - is any of these processes that are causing problems, chrooted? Or is snoopy unable to read snoopy.ini once it is running as non-root, due to permission issues?

b.

[2015-04-16 18:24] ajzach commented on #39
Snoopy run as root and there is no processes chrooted.
The  message format in snoopy.ini is ok, I can not reproduce the error in master branch.

[2015-04-16 18:45] bostjan commented on #39
So, to be exact: version 2.2.6 + your pull request was causing problems, but master @ 13ec6a0d commit (which mistakenly says 2.2.6 instead of 2.2.7 in comments) does not cause an error?

This is weird, because since 2.2.6 nothing was changed on this front.

[2015-04-16 18:49] ajzach commented on #39
No, version 2.2.6 + my pull request and master cause an error.

[2015-04-16 19:01] bostjan commented on #39
You said in previous comment: "I can not reproduce the error in master branch."
This is what is bugging me :)

If master is giving you problems, can you please try branch bugfix/... I've just pushed?

b.

[2015-04-16 19:05] ajzach commented on #39
I can not reproduce the error in master branch/branch + my pull request.
I need to reproduce the bug to see if the branch bugfix/... work properly.

[2015-04-16 22:57] epicmmj opened #40 "Ubuntu installer prompt"
When I install Snoopy 1.8.0 on Ubuntu 12.04 using Apt package manager, I get the following scary prompt:

"Snoopy is a library that can only reliably do its work if it is mandatorily preloaded via /etc/ld.so.preload. Since this can potentially do harm to the system, your consent is needed"

Can someone shed some light as to what kind harm may this cause to a system? I've never encountered any issu

[2015-04-17 01:43] bostjan commented on #40
None of Snoopy versions except the latest one (2.2.7 now, 2.2.8 tomorrow) are supported, keep that in mind. This is an open source project, so responsibility for your production environment is entirely yours.

That said, go ahead and read Snoopy's source code to understand how it actually works and what the inherent dangers are. This should be done using current master branch in git repo. The main

[2015-04-17 01:43] #40 closed

[2015-04-17 02:04] etapia commented on #40
Thank you for the quick response. It was very helpful.

[2015-04-17 02:06] epicmmj commented on #40
Thank you for your quick response. It is very helpful.

[2015-04-17 16:03] ajzach commented on #39
I install the branch bugfix/prevent-double-free in an instance and there was another error:

#2101 trim_whitespace (str=str@entry=0x0) at rpname.c:43
        end = <optimized out>
#2102 0x00007f5073d66c10 in read_proc_property (pid=pid@entry=1222, prop_name=prop_name@entry=0x7f5073d6780d "PPid") at rpname.c:75
        fp = 0x7f4fe42ec690
        line = 0x7f4fe42d8c80 "PPid"
        len = 120

[2015-04-18 08:19] bostjan commented on #39
The actual error was what? Segfault?

It seems as if string to trim that is passed has memory address 0, which most certainly is invalid.

This comes from read_proc_property() function, from main loop:
while (getline(&line, &len, fp) != -1) {
        k = strtok(line, ":");
	v = strtok(NULL, ":");
	if (strcmp(prop_name, k) == 0) {
		fclose(fp);
		return trim_whitespace(v);
	}
}

Variable v is not c

[2015-04-18 08:57] bostjan commented on #39
If you exclude rpname input provider, does the error still occur?

b.

[2015-04-18 14:21] ajzach commented on #39
I change the read_proc_property and I test it in an instance, for now is working well.

[code]

[2015-04-18 16:48] bostjan commented on #39
Cool, tnx, will commit it now.

Ariel: what OS/program are you using that it is giving you such a problems?

b.

[2015-04-19 00:37] bostjan commented on #39
Can you try out master (now at ff587e) again?

I did a bit of refactoring of rpname + fixed a memleak in there (strdup).

b.

[2015-04-19 19:51] ajzach commented on #39
This error occurs with branch "prevent-double-free", now I'll try the master version with the changes you made.

[code]

[2015-04-19 21:31] ajzach commented on #39
Error with last version (master):
[code]

[code]

[2015-04-20 01:59] ajzach commented on #39
2° error using the master version (ff587e):

[code]

[2015-04-23 08:58] bostjan commented on #39
(I am a bit unresponsive as I am currently abroad, FYI)

The actual error comes from 'cmdline' input provider, can you exclude it from your current message_format and test without it again?

b.

[2015-04-23 20:41] ajzach commented on #39
I delete "cmdline" from the config, I have running five jenkins and for now is working well.

[2015-04-23 20:44] bostjan commented on #39
I will have a look at it today. I had a hunch there was something fishy in there :)

[2015-04-23 22:05] ajzach commented on #39
Failure in lines 65 and 75.

[2015-04-24 13:24] bostjan opened #41 "Rename term 'input provider' to something else"
The term 'input provider' does not accurately describe what that part of code does. What is does is it gathers data from specific source. Therefore it should be renamed to something else.

Initial suggestions:
- data collector
- data gatherer
- data source <-- this is my favourite ATM (and datasrc/ abbreviation should be used in code)

What do Snoopy contributors and users think about this?

b.

[2015-04-24 13:39] ajzach commented on #39
Another errro:

[code]

[2015-04-24 16:13] bostjan commented on #39
And what is the actual error?

Also, did you set 'error_logging' configuration setting in snoopy.ini?

I see very little that could go wrong here, so I am a bit at loss about this one.

b.

[2015-04-24 16:23] ajzach commented on #39
No, all problems occur in the forkAndExec of Java, it can be that there is a problem of concurrency?

[2015-04-24 18:04] bostjan commented on #39
Probably there are parts that are not thread-safe, and iniparser (external component) may be affected by this too. This did not pose a problem before, I guess no one was using threads that spawned too much processes too fast.

Do you maybe know, how many processes is your java (Jenkins?) spawning per second? Does it use separate thread for each forkAndExec?

b.

PS: Would you be so kind and from n

[2015-04-24 18:04] bostjan opened #42 "Upgrade ini parser to lastest git master version"
Version 3.1 has 17 commits, latest master around 50 including many fixes. Upgrade required.

[2015-04-24 18:06] bostjan opened #43 "Verify thread safety"
Check all the library code for thread safety. Java processes seem to have problems with it, as they are using threads.

[2015-04-24 18:12] bostjan opened #44 "Error in ini parser"
Originally reported by @ajzach in issue #39:
[code]

@ajzach comment (copied from #39):
No, all problems occur in the forkAndExec of Java, it can be that there is a problem of concurrency?

[2015-04-25 23:06] #38 closed

[2015-04-25 23:23] #42 closed

[2015-04-27 14:22] bostjan opened #46 "Segmentation fault in cmdline input provider"
Originally reported by @ajzach in issue #39:

Error with master version (ff587e):
[code]
[code]

b.

[2015-04-27 14:23] bostjan commented on #46
Additional debugging output by @ajzach:

2° error using the master version (ff587e):

[code]

[2015-04-27 14:42] #46 closed

[2015-04-27 14:46] bostjan commented on #46
@ajzach: could you please test this with master 5c3578a0?

Master is being prepared for Snoopy 2.3.0 release, and cmdline input provider has been reviewed, and a potential buffer overflow has been fixed.

Tnx,
b.

[2015-04-27 14:48] bostjan commented on #44
@ajzach: could you please test this with master 5c3578a0?

For Snoopy 2.3.0 release iniparser component has been upgraded to latest git version (3.1 which is used in snoopy 2.2.x is from year 2012).

Tnx,
b.

[2015-04-27 15:33] ajzach opened #47 "Double free or corruption"
Bug in master:

[code]

[2015-04-27 16:07] bostjan commented on #47
Did you configure filter chain in snoopy.ini when you got this error?

b.

[2015-04-27 16:16] #47 closed

[2015-04-27 16:49] #41 closed

[2015-04-27 21:55] bostjan commented on #39
I will close this issue, as all remaining problems have either been fixed or have separate issues created for them.

For cmdline: fixed potential buffer overflow, pending 2.3.0 release in master branch
For iniparser: it has been upgraded to latest git version (2 years worth of fixes), still needs testing thought
For double free: I believe this is fixed. If this issue is still encountered with late

[2015-04-28 10:40] bostjan opened #48 "Exclude configfile code from Snoopy if not enabled via ./configure --enable-config-file argument"
Snoopy 2.0.x to 2.2.x had iniparser and configuration file routines always included in final library, even if configuration file parsing was not enabled at all.

[2015-04-28 11:38] bostjan opened #49 "Snoopy configuration: when free()-ing config values, reset them back to defaults"
This would probably cause buffer overflow if config file vanished suddenly.

[2015-04-28 12:30] #48 closed

[2015-04-28 12:30] #49 closed

[2015-04-29 14:36] bostjan opened #50 "Change --enable-filter to --enable-filtering"
Flag named "--enable-filter" is a historic remaining from the past when Snoopy implemented a feature called "external filter", which ended in disaster (too easy to lockup a system by careless external filter implementation.

Now --enable-filter inaccurately represents filtering facility of Snoopy. In future we will implement separate ./configure flags for each data source, filter and output. Then

[2015-04-29 14:57] #50 closed

[2015-04-29 16:22] bostjan commented on #47
@ajzach Ariel: what tool do you use to get these backtraces you usually provide? It seems quite handy (verbosity-wise).

Tnx if you can share that,
b.

[2015-04-29 16:51] bostjan opened #51 "Create more configure flags for each data source, filter and output"
Data sources, filters and outputs should be includable individually by ./configure line, main reason being that if certain entity (filter, datasrc, output) is considered buggy, it may be disabled by default, but simple possibility should exist to enable it via ./configure line if knowledgeable user should wish to do so.

Therefore what needs to be implemented are the following ./configure flags:
-

[2015-04-30 13:08] ajzach commented on #47
I use gdb.

[2015-04-30 17:50] bostjan commented on #47
Tnx.

b.

[2015-05-06 20:25] bostjan commented on #51
Implemented as --enable-XXX-YYY. Additionally there are --enable-all-XXXs flags to enable/disable all objects of given group (datasource, filter, output) at once.

[2015-05-06 21:24] bostjan commented on #51
Implemented in 2.3.0rc5.

[2015-05-06 21:24] #51 closed

[2015-05-11 18:51] bostjan opened #53 "New output: file"
Create alternative output - write directly to file.

[2015-05-11 18:54] bostjan opened #54 "New data source: timestamp"
Create new data source: timestamp.

It might be useful if Snoopy is logging by writting directly to file.

[2015-05-11 21:37] bostjan opened #55 "Configurable default output via ./configure flag"
Flag recommendation: --with-default-output=OUTPUT_SPEC.

[2015-05-11 21:39] #55 closed

[2015-05-11 21:45] bostjan commented on #53
Done in commit bd1721.

[2015-05-11 21:45] #53 closed

[2015-05-11 23:31] bostjan commented on #54
Implemented in 82ae794bcd23740dc273074aad2c4051ff8547fd.

[2015-05-11 23:31] #54 closed

[2015-05-14 13:31] bostjan opened #56 "Add ability to apply filters to specific data source only"
Currently message format can be specified like this (in snoopy.ini):
message_format = "ds1=%{datasource1} ds2=%{datasource2:param1,param2}..."

Then only whole message can be filtered, like this:
filter_chain = "exclude_uid:1,2,3;exclude_spawns_of:crond"

It would be splendid if filters could be applied to only specific datasource, right in message format, like this:
message_format = 'ds1:"%{ds1|e

[2015-05-14 13:54] bostjan commented on #56
Maybe @evilezh will be willing to contribute escape_json_str() code :)

https://github.com/evilezh/snoopy/commit/9e7aeaa3d578f9880f15f9d4cacc88cc95c8b8a3

b.

[2015-05-14 14:03] bostjan opened #57 "Make Snoopy support multiple message formats, filters and outputs simultaneously"
Another interesting feature would be to enable differentiated or redundant logging based on various conditions.

Example:
- log root commands via syslog,
- log regular user activity via syslog and into this one special file, but with more verbose format,
- log each user's commands into his homedir/snoopy.log,
- log apache executed stuff into this another file.

Implementation proposal:
- use secti

[2015-05-14 14:21] bostjan opened #58 "Refactor output parsing in config file"
Now all outputs are iterated in configfile.c and snoopy.h. We must use outputregistry to check if configured output is valid.

b.

[2015-05-15 00:00] bostjan opened #59 "New data source: hostname and domain"
It is useful when logging to file.

[2015-05-15 00:12] #58 closed

[2015-05-15 17:40] #59 closed

[2015-05-16 18:58] bostjan opened #62 "Add functional build testing facility"
All individual parts of snoopy should be tested, at least:
- each data source
- each filter
- each output (this one might be a bit difficult)
- configuration file parsing
- message formatting
- probably something else too

[2015-05-16 19:01] bostjan opened #63 "Dummy data source: literal"
Create new data source called 'literal' which just copies input parameter to output.

Therefore, configuring message_format = "literal=%{literal:text to return}" should result in "literal=text to return" output.

This will be useful to determine if data providers actually work when testing facility is implemented.

[2015-05-19 16:19] bostjan commented on #62
Implemented.

[2015-05-19 16:19] #62 closed

[2015-05-20 09:57] bostjan opened #64 "Fix domain datasource"
Currently does not work as expected - sometimes it returns the domain, most of the times it does not.

It could just juse getaddrinfo(), but this call queries DNS if entry is not found in /etc/hosts. But DNS query could be blocking for a long while, so this is unacceptable. An implementation of this datasource must search hosts file only.

Also, when this is fixed, change test - remove xfail.

[2015-05-20 13:29] bostjan opened #65 "UDP output"
Create output that sends content as plain UDP packet.

Note: TCP output will not be created - it is stateful and might be blocking, which is undesired when spawning a new process. Or maybe it should be created, but disabled by default and with lots of warnings.

Additionally attention must be paid if remote end is configured as hostname/domain instead of IP address. This could block the whole exec

[2015-05-20 13:30] bostjan opened #66 "UDP SYSLOG output"
Create output that sends content as plain UDP SYSLOG packet.

Note: TCP SYSLOG output will not be created - it is stateful and might be blocking, which is undesired when spawning a new process. Or maybe it should be created, but disabled by default and with lots of warnings.

[2015-05-20 17:25] bostjan commented on #64
Done in commit 37cd410d9aef17af6136b611c8a3ffd545b91531.

[2015-05-20 17:25] #64 closed

[2015-05-20 18:35] vladnosferatu opened #67 "only logs root"
hello

snoopy only logs root , how i change it to log all users ?

and i only what to log the command and not what the sheel script do inside,

thanks

[2015-05-20 22:18] bostjan commented on #67
Which version are you using? How did you install it? Please specify exact procedure, and (if used), paste relevant snoopy.ini parts (not the comments, only actual settings).

Second part: "and i only what to log the command and not what the sheel script do inside,"
Good luck with this one. Currently there is no filter implemented to do this, and you are encouraged to implement one, but it will not

[2015-05-20 23:12] vladnosferatu commented on #67
v2.3.0

manage to know what causes the problem
if i chooge the lof to

output = file:/var/log/snoopy.log
will only record root id

but on /var/log/secure are the all users

can you add on your filter GID ?

[2015-05-21 09:05] bostjan commented on #67
Your output: if you use file output, you have to have adequate permissions to write to it as regular user too. Use syslog to be more flexible and avoid having files with 666 permissions.

Yes, filters are in C.

Contributing:
https://github.com/a2o/snoopy/blob/master/doc/CONTRIBUTING.md
- see src/filter/only_uid.c and src/filter/exclude_uid.c for examples

b.

[2015-05-21 09:56] vladnosferatu commented on #67
with 666 permissions, users can delete the log :(

ok thanks a lot

[2015-05-21 11:32] vladnosferatu commented on #67
can you make a filter for GID,
i dont have very experience on C  :(

[2015-05-21 12:01] bostjan commented on #67
Me neither :)

This is open source. I can create it, but unfortunately I do not have time to. There is commercial support available, if you are interested.

[2015-05-22 19:00] tparkercbn opened #68 "Complie error on OpenSuSE and SLES"
libtool: compile:  gcc -DHAVE_CONFIG_H -I. -I.. -Wall -Werror -g -O2 -MT misc.lo -MD -MP -MF .deps/misc.Tpo -c misc.c  -fPIC -DPIC -o .libs/misc.o
cc1: warnings being treated as errors
misc.c: In function 'snoopy_string_append':
misc.c:112: error: call to function 'snoopy_error_handler' without a real prototype
error.h:28: note: 'snoopy_error_handler' was declared here

[2015-05-22 20:46] tparkercbn commented on #68
I was able to fix it by changing the prototype in error.h to:

/*
 * Error-handling functions
 */
void snoopy_error_handler(char *s);

[2015-05-22 23:01] bostjan commented on #68
A, I see, the argument is missing in prototype.

Hmm, I wonder why this has not yet cropped up before - what configure flags did you use, or, more general, how did you try to compile it?

Also, can you submit a pull request with a fix so git history will keep track of person responsible for finding and fixing this bug? Tnx.

https://github.com/a2o/snoopy/blob/master/doc/CONTRIBUTING.md

b.

[2015-05-23 05:35] tparkercbn commented on #68
I just followed the instructions for downloading and installing the
latest version using the snoopy-install.sh script with no modifications
at first.  I then downloaded the source tarball and ran ./configure and make

I will see if I can figure out how to do the pull request.  If it's
easier for you to just fix it I don't need any credit :)

Tom

On 05/22/2015 07:01 PM, Boštjan Škufca wrote:

[2015-05-24 08:34] bostjan opened #69 "Add distcheck to releasing process"

[2015-05-24 12:28] bostjan commented on #68
Fixed in 2.3.1.

Thanks for reporting it.

b.

[2015-05-24 12:37] #68 closed

[2015-05-24 23:36] bostjan commented on #69
Fixed in commit d92e2c89ae0289bb25e025b3e0dcc165eb6c3bd8.

[2015-05-24 23:36] #69 closed

[2015-05-24 23:38] #67 closed

[2015-05-25 09:36] bostjan opened #70 "Generic argument parser for comma-separated argument list"
Snoopy needs generic argument parser that splits comma-separated arguments into array of strings.

This will be useful for datasources, filters and outputs, so that code there is not cluttered with argument parsing functionality.

Additonally a named argument parser might be created, to support list of named arguments, like "argName1=val1,argName2=val2".

[2015-05-26 14:17] liorco300 opened #71 "New filter problem"
Hi,
Added new filter only_tty which shows comands from only_tty sessions
changed the following Files:
[root@il-zabbix snoopy]# find . -name "*.*" | xargs grep -i "only_tty"
./configure.ac:SNOOPY_CONFIGURE_FILTER_ENABLE( [only_tty],         [This filter passes only messages generated by tty.])
./etc/snoopy.ini.in:; - filter_chain = "only_tty:0"          # Log only tty sessions
./etc/snoopy.ini.in:;

[2015-05-26 16:49] bostjan commented on #71
Of the top of my head these packages need to be installed (names are for Ubuntu):
- autoconf
- automake
- autotools-dev
- libtool
- and of course the standard: gcc gzip make tar wget
- socat (for test suite)

I think you are missing either autoconf or autotools-dev.

[2015-05-26 16:55] bostjan opened #72 "New data source: thread id"
Suggested name: tid

[2015-05-26 22:13] #70 closed

[2015-05-27 09:23] liorco300 commented on #71
Hi updated all,
Still i have a problem:

[root@il-zabbix snoopy]#  ./bootstrap.sh

Starting AutoTools run:

+ '[' -d autom4te.cache ']'
+ rm -rf autom4te.cache
+ '[' '!' -d build/m4 ']'
+ autoreconf -i -v
autoreconf: Entering directory `.'
autoreconf: configure.ac: not using Gettext
autoreconf: running: aclocal -I build/m4
configure.ac:60: warning: macro `AM_PROG_AR' not found in library
configure

[2015-05-27 10:59] bostjan commented on #71
What is your OS/version?

[2015-05-27 11:46] bostjan commented on #71
You should use recent version of OS to develop Snoopy. Namely autoconf version 2.69 and automake version 1.11.

I tried building it from git on Slackware 12.2 (oldest system I have currently access to, from 2008) and I needed to do 4 modifications to make it work:

1. AM_PROG_AR (fixed in master, just pull it)
2. AC_PROG_LIBTOOL (fixed in master too, pull it)
3.

[code]

[2015-05-27 17:48] evgkrsk opened #73 "Too strict executable bit check on $LIBDIR/libsnoopy.so in snoopy-enable.in"
==8<======================================================
root@thinkpad /etc #snoopy-enable

SNOOPY ERROR: /usr/lib64/libsnoopy.so is not installed or is not executable

[1]    29079 exit 1     snoopy-enable
root@thinkpad /etc #ls -l /usr/lib64/libsnoopy*
lrwxrwxrwx 1 root root    18 May 27 17:52 /usr/lib64/libsnoopy.so -> libsnoopy.so.0.0.0
lrwxrwxrwx 1 root root    18 May 27 17:52 /usr/lib64/li

[2015-05-27 19:12] bostjan commented on #73
Tnx for report.

Which distro/version are you using?

B.

[2015-05-27 21:42] #72 closed

[2015-05-27 21:49] liorco300 commented on #73
Hi,

[lior@il-zabbix ~]$ uname -r
2.6.32-358.6.1.el6.x86_64
On May 27, 2015 22:13, "Boštjan Škufca" <notifications@github.com> wrote:

--
Gigya <http://www.gigya.com/> | The Leader in Customer Identity Management
2015 CRM Watchlist Winner
<http://finance.yahoo.com/news/gigya-named-2015-crm-watchlist-165815241.html>

[2015-05-27 22:21] bostjan commented on #73
This is only kernel, it has very little to do with Snoopy :)
Linux distribution (Debian, CentOS, Fedora, Ubuntu, SLES, etc) and its version was what I was asking for.

Anyway, fixed in commit 66d18205b746f73c24befd7f121298a2e542d1d6, and just released 2.3.2 that contains this fix.

b.

[2015-05-27 22:21] #73 closed

[2015-05-27 23:36] #63 closed

[2015-05-28 06:24] evgkrsk commented on #73
Little addition: s/ or is not executable/ or is not readable/

[2015-05-28 07:48] bostjan commented on #73
Fixed in master, tnx for remark.

[2015-05-29 13:21] Eric-Sparks opened #74 "CVE-2014-5009 CVE-2014-5008 CVE-2008-7313 nagios: snoopy: incomplete fixes for command execution flaws"
Can you tell me if you've addressed these CVEs in your code and if so in which version?  Thanks!

https://bugzilla.redhat.com/show_bug.cgi?id=1121499

[2015-05-29 14:55] bostjan commented on #74
Unfortunatelly I was not aware of these CVEs, nor can I access any of their content ATM (restricted access).

CVE-2008-... occured before I took over Snoopy (around 2010), but I think it is related to Snoopy not closing syslog file descriptor (which was opened as fd#3 and this messed with some programs which had numbered FDs hardcoded into them). This was fixed in 1.9.0.

Can you provide contents

[2015-05-29 15:09] bostjan commented on #74
Also please make note that I do not do any of the distribution-specific packaging. Those are done by other people, some of them contributed their build files back to Snoopy and this is the reason they are included in the main repository. They are not supported in any way.

If these CVEs are a result of Snoopy package that is outdated, there is very little I can do. Usually, if you provide a bug re

[2015-05-29 15:23] Eric-Sparks commented on #74
Here's the information regarding the CVEs: https://bugzilla.redhat.com/show_bug.cgi?id=1121497

Looking at the links provided there I don't know if this is still valid or not.  It appears to be affecting several programs.

[2015-05-29 19:02] naixn opened #75 "OSX Support"
snoopy looks like a great nifty tools, and it would be great to have it on OS X!

I'll see if I can help with it at all :-)

[2015-05-29 23:15] bostjan commented on #75
I was just recently thinking about "what would it take to make Snoopy *BSD compatible".

Generally I think the only parts that will need work are:
- check if /etc/ld.so.preload works like it does on Linux, or find alternative to it
- src/libsnoopy.c - should work the same, maybe there will be some issue as libc != glibc
- src/datasource/* - some datasources (or their implementation) might be linux

[2015-05-29 23:30] bostjan commented on #74
I believe there is a mixup here. These CVEs are about Snoopy the PHP implementation of HTTP browser: https://sourceforge.net/projects/snoopy/

This is Snoopy the command logging library, also known as Snoopy Logger.

b.

[2015-05-29 23:30] #74 closed

[2015-05-29 23:31] Eric-Sparks commented on #74
Opps... too many snoopys!

[2015-05-31 19:37] naixn commented on #75
So far it doesn't build on OSX because:
{code}../../src/snoopy.h:43:10: fatal error: 'features.h' file not found{code}

I have not had time to look further, but that one shouldn't be too hard.

OSX does have syslog, yes :-)
https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man3/syslog.3.html

[2015-06-01 01:31] bostjan commented on #75
Just tried it, I am just making an intermediate notes here:

Needed to install:
- git
- brew
- autoconf
- automake
- libtool (or you get aclocal failure when doing ./bootstrap.sh)

About feature.h:
- if I throw it out on linux, everything works fine
- I guess defining _XOPEN_SOURCE does the trick

Stuck ATM:
- snprintf: implicit declaration in src/datasource/cmdline.c
- had to go off OS X as some

[2015-06-01 20:01] bostjan opened #76 "More expressive filtering, separated from message mangling"
Filtering is currently available and serves two purposes at once:
- decide whether message is passed to output or dropped
- message content mangling

The problem with this approach is that message needs to be generated before filters decide whether it will be logged or not, thus wasting resources.

Current filters should be split into two separate entities:
- filters, that are executed before mess

[2015-06-03 13:58] vladnosferatu commented on #76
gid ... cool, thanks a lot

[2015-06-03 15:28] bostjan commented on #76
@vladnosferatu : What are you talking about?

[2015-06-06 22:36] bostjan opened #77 "Internal refactoring: all ini options must be gathered in one array"
This will simplify testing of config file parsing, as a list of all supported options will be readily available.

Each option entry must contain the following items:
- name, without section ("snoopy:") prefix,
- type (number, bool, string),
- function pointer that does the value parsing.

[2015-06-11 12:01] bostjan commented on #39
@ajzach Hi again,

I went through some hoops to implement experimental thread-safety support. Additionally the iniparser was upgraded to v4.0, supposedly better at handling threads.

Could you please the new version in your environment?

URI: https://github.com/bostjan/snoopy
BRANCH: enhancement/thread-safety
CONFIGURE FLAG: --enable-thread-safety

Could you please report results into separate iss

[2015-06-11 12:04] bostjan commented on #71
Closing this for now. Reopen if/when it becomes actual again.

b.

[2015-06-11 12:04] #71 closed

[2015-06-11 12:12] bostjan opened #79 "Feature: Implement Snoopy logging as separate thread to main process"
Because many data providers may be blocking (for example username/group with LDAP NSS backend), it might be desirable that Snoopy does it's own thing in a separate thread and that execution of exec() syscall continues as soon as possible.

This feature should initially be enabled only with special ./configure flag, and should be marked as experimental.

[2015-06-14 13:41] bostjan commented on #79
After some research this has been proved pointless. Reason: as soon as execv/e() is called, the process's image is replaced with called process image. This means that all threads are killed regardless of what they are doing. This leaves us with two options:
- either thread that whould do the logging should block the rest of the current process/thread
- threading should not be used.
Both options ef

[2015-06-14 13:41] #79 closed

[2015-06-17 10:53] bostjan opened #80 "New output: devnull"
Mostly for debugging purposes.

[2015-06-17 10:55] bostjan opened #81 "Experimental thread safety support"
Add support for per-thread "global" data structures.

[2015-06-17 11:16] #81 closed

[2015-06-17 11:17] bostjan commented on #80
Implemented in 254f53bc7042f063772176a116a58f2d1ed452fb.

[2015-06-17 11:17] #80 closed

[2015-06-17 11:24] bostjan commented on #81
Now that this is implemented, it seems kind of pointless. Here is why:

If a program is calling execv()/execve(), it must fork itself before doing so. When forked, only the thread that called fork() gets replicated into new process, and that new process calls execv(). This means that Snoopy is always running in single-threaded process, unless that process creates new threads between calls to fork(

[2015-06-17 21:40] bostjan commented on #24
I just rechecked this with master, datasource returns error, as it should.

The additional benefit would be if datasource returned actual error message about CWD not being present anymore, but this excercise is left for some diligent contributor :)

b.

[2015-06-20 16:27] bostjan commented on #44
I think this one should be fixed now. Iniparser has been upgraded to 4.0, and optional threading support has been added in 2.4.0.

Closing for now.

[2015-06-20 16:27] #44 closed

[2015-06-20 16:28] bostjan commented on #39
Closing this for now, I believe these issues were ironed out. If not, reopen it.

[2015-06-20 16:28] #39 closed

[2015-06-20 17:39] bostjan commented on #43
Most of thread-safety improvements have been already done in 2.4.0 releases, especially things that concern internal data structures.

The following list was used to identify potential dangerous parts of code regarding thread-safety:
http://pubs.opengroup.org/onlinepubs/9699919799/functions/V2_chap02.html#tag_15_09_01

[2015-06-20 18:12] bostjan commented on #43
Done in the following commits:
- 49b3182efce3b06399382e22583a163c66067d14
- f2c28659a0519959babe9ecf229e2dbbcc046602
- 467fe24763b29fb3b1956b16481ea4d6c6880e9e
- 1238d503a8a257840e65afcad8c2dac4047ab119

The remaining non-thread-safe functions that are used are:
        - getenv()
        - strerror()

getenv() does not have any thread-safe counterpart, so it was left as it
was. If anyone uses thr

[2015-06-20 18:12] #43 closed

[2015-06-20 18:14] bostjan opened #82 "Replace strerror() with strerror_r()"
This function call takes place in doubly linked list implementation in lib/libl... It needs to be replaced, but this will take a bit bigger list implementation overhaul.

[2015-07-09 12:09] mackermann2 opened #83 "New filter : only_tty ?"
Hello,

Is there possible to add a new filter "only_tty" to exclude all lines which contains "tty:(none)" like this :

[uid:0 sid:15400 tty:(none) cwd:/product/scripts filename:/usr/bin/awk]: awk -F , {printf "$3"_"$4 "\n"} /var/www/html/test/csv/20150709.csv
[uid:0 sid:25283 tty:(none) cwd:/product/scripts filename:/bin/ps]: /bin/ps auxw
[uid:0 sid:25283 tty:(none) cwd:/product/scripts filename:/

[2015-07-09 12:44] bostjan commented on #83
Hi Matthieu,

it is possible :)

Will you give it a shot and submit a pull request?
I believe it is acually not that hard. Check doc/CONTRIBUTING for basic info for new filter development, and src/filter/* for examples.

b.

[2015-07-09 12:44] bostjan commented on #83
Also, code for checking if command was executed on tty is already present in src/datasource/tty* files.

b.

[2015-07-09 14:05] mackermann2 commented on #83
Hi Bostjan,

Thanks for your response.
Actually i'm not a guru guy in C language but I will try to find a solution myself.
I thinks it's possible :)

Matthieu

[2015-07-09 14:48] bostjan commented on #83
Alright, I like the spirit.

If you have questions, do not hesitate to ask. But majority of work should be copy-pasting.

b.

[2015-07-15 21:52] suedi opened #84 "snoopy-install.sh fails test datasource_domain.sh"
Trying to install stable 2.4.3
Get a fail on tests/datasource/datasource_domain.sh test because

[code]
 returns "(none)"

[code]
also returns "(none)"

Here the test would pass but  VAL_SNOOPY gets corrected further down in code

[code]

which leads the test to fail

I commented out the correction and snoopy installed fine.

[2015-07-15 22:24] bostjan commented on #84
I wondered how long it would take before someone reports some issue about this test :)

Anyhow, it seems that implementations of `hostname -d` vary a bit:
- some return empty strings
- others return "(none)" - as you have noted

I changed the test to account for this, it will be included in next release.

Meanwhile I disabled tests in snoopy-install.sh, with objective to reenable it when:
1. there

[2015-07-15 22:24] #84 closed

[2015-07-15 22:25] bostjan opened #85 "make check: add support to skip individual tests via cmdline argument"
Particularly useful to skip domain check test, as it probably fails on many machines with improperly set-up domain names.

See #84 for additional details.

[2015-07-15 22:28] bostjan opened #86 "snoopy-install.sh: add support for --skip-tests argument"
Also, add notice to the end of script that detects errors in process, that this flag is available.

[2015-07-20 23:02] bostjan opened #87 "Update iniparser"
This issue has been fixed upstream:
https://github.com/ndevilla/iniparser/commit/78e62ea95c6eeba8c87d89767815170d9e8e639e

[2015-07-22 14:42] jjasen opened #88 "user manipulation of LD_PRELOAD can prevent snoopy from logging"
# tested on debian jessie
# assuming snoopy 2.x was installed systemwide.

as user:
% wget http://source.a2o.si/download/snoopy/snoopy-latest.tar.gz
% tar -zxf snoopy-latest.tar.gz
% cd snoopy-$VERSION
% ./configure --disable-all-outputs --disable-config-file
# the --disables may not be necessary?
% make
% export LD_PRELOAD=$HOME/snoopy-$VERSION/src/.libs/libsnoopy.so
% bash <--- everything from h

[2015-07-22 14:56] bostjan commented on #88
This is by design.

Heh, I mentioned this so many times at various occasions/places, but I never checked whether Snoopy documentation actually contains this piece of information, which now I can see it doesn't.

Here, for example:
http://sourceforge.net/blog/from-slovenia-with-love-a-new-snoopy-logger/

This information deserves to be mentioned on the front page, in README.md. Care to create pull

[2015-08-07 17:26] PSKyne opened #89 "Snoopy-Logger not logging user commands from login shell"
Snoopy-Logger 2.4.3 installed on RHEL 6.6, `kernel: 2.6.32-573.1.1.el6.x86_64 #1 SMP`

I just updated snoopy-logger on this system because the previous version quit logging the `%{cmdline}` correctly. The log showed the following error for the `%{cmdline}`:
`lsERROR (Filter not found - i)`

After updating snoopy-logger to 2.4.3 (latest stable), `%{cmdline}` works for root and system accounts, but

[2015-08-07 19:55] PSKyne opened #90 "Snoopy-Install.sh fails for systems not connected to internet."
I administer many systems, several of which by design & requirement are NOT connected to the internet and have no way of communicating with the internet. This causes several big issues with installing and/or updating snoopy-logger.

To resolve this issue, I modified the snoopy-installer.sh script to add two new install "modes".
The first is run by: `snoopy-installer.sh download`. This, when run fr

[2015-08-07 20:47] PSKyne commented on #89
Update:  It seems that snoopy-logger is logging for system accounts with UIDs lower than 500 on this system. I am seeing logging from UID:48-apache. Still, the several normal user accounts I've tried with result with nothing past their logon shell being logged.

[2015-08-08 00:47] bostjan commented on #89
Hi PSK,

I've just updated FAQ with what I think is your issuee too. Here:
https://github.com/a2o/snoopy/blob/master/doc/FAQ.md#5-i-see-no-snoopy-output-after-initial-user-login

To check, log in as normal user and check it's environment.

Please note that Snoopy is not an auditing solution, as it is easily circumvented. It is more of a self-reassurance tool.

About cmdline input provider: what wa

[2015-08-08 01:47] bostjan commented on #90
Hi again PSK,

let me first state why snoopy-install.sh even exists: there were many requests from fresh Snoopy users, requests which were referring to old, distro-packaged versions of Snoopy. As I have no time to deal with obsolete versions, nor with distro-specific packaging, I created this simple script that makes Snoopy installation experience as smooth as possible - for one specific group of

[2015-08-09 03:55] PSKyne commented on #89
Thank you sir. My previous version was 2.3.6.

I did check the user environment scripts and none of the users have any LD_PRELOADs set.

Any ideas?

[2015-08-09 11:25] bostjan commented on #89
2.3.6 was never released. 2.2.6 perhaps?

And no, I am out of ideas, except for these:
- sth is preloading something over snoopy, or
- You are using selinux? Or some similar kernel-level hardening?

B.

[2015-08-09 11:33] bostjan commented on #89
Also you can provide strace of snoopy-test-output command. Steps:
1. Build snoopy with --enable-dev-tools
2. Switch to regular user
3. Run command : strace /path/to/snoopy/build/dir/util/snoopy-test-output
4. Paste the strace output here

B.

[2015-08-10 15:31] PSKyne commented on #89
Sorry BostJan, you are correct, it was 2.3.2. (sorry for the typo.)

I am using SELinux.

I will run with the dev-tools listed above and paste the output this afternoon.

Thank you,
--Patrick

[2015-08-10 15:36] PSKyne commented on #89
Do you think this is an SELinux context issue?

[2015-08-10 15:55] bostjan commented on #89
There is no better way of knowing than trying it out. I have no CentOS that has selinux enabled (I only use it in lxc containers running on host that does not support selinux). Try it out and see for yourself.

My guess is: something is preventing access to /dev/log socket, probably SELinux. Unfortunately I have zero experience with selinux context configuration, aside from disabling it altogether

[2015-08-10 16:20] PSKyne commented on #89
From what I can see by running ls -Z on /dev/log and on /usr/local/lib/libsnoopy.so*, they are all set the same. (But I'm no expert with SELinux)

-r--r--r--. root root system_u:object_r:lib_t:s0 libsnoopy.so
srw-rw-rw-. root root system_u:object_r:devlog_t:s0 /dev/log

[2015-08-10 16:26] bostjan commented on #89
Do try with selinux disabled, to exclude this variable from analysis.

[2015-08-10 21:02] PSKyne commented on #89
Update:

I tried on a test box that had SELinux enabled, did a clean install of 2.4.3 and user logging is working fine. Upgraded it to the latest kernel (2.6.32-573.1.1.el6) _and_ latest SELinux policies (3.7.19-279.el6) just like my production server. Both boxes have the same version of BASH and the same SELinux contexts on /etc/snoopy.ini, /usr/local/lib/libsnoopy*, /usr/local/sbin/snoopy*, /dev

[2015-08-10 21:41] bostjan commented on #89
I am out of ideas already;)

Still waiting on that strace output.

B.

[2015-08-13 02:38] urq commented on #83
Hi there, I had an urgent need for this only_tty filter, and after implementing it reduced noise in my server auth logs by 99%.  I thought I'd drop the pull request here, though there is one omission--it doesn't include tests yet (though it is currently passing tests in the wild ;) ).

[2015-08-13 03:15] bostjan commented on #83
Excellent!

It looks good, I will merge it next week. I have only 1 non-complaint: in alphabet, letter t comes before u and not after :)

About tests: do not worry, as this one is a bit tricky to test. I will create it.

Did you by any chance run it by valgrind? (configure --enable-everything; make valgrind)

b.

[2015-08-13 12:28] urq commented on #83
I identified a copypasta issue which I'll fix, but while I'm in there I can alphabetize :)

When I tried running it by valgrind, my `configure` left this warning on the end:

[code]

[2015-08-13 12:30] bostjan commented on #83
I think you did not initialize git submodule for iniparser. git submodule init & git submodule update should do it.

b.

[2015-08-13 12:47] urq commented on #83
Ah, I did forget that, but even after running `git submodule init && git submodule update`, I'm getting the same.  Looking in the `./configure` file, it looks like it's looking for a `configure` or `configure.gnu` or `configure.in` file in `lib/iniparser`, but isn't finding any of those.  This is what is in `lib/iniparser`:
[code]

Any thoughts?  I'm a bit out of my depth with the C toolchain, I'm

[2015-08-13 13:21] bostjan commented on #83
Yeah, it was missing from doc/INSTALL.

Also, please re-run ./bootstrap.sh which does all the necessary things before ./configure step.

[2015-08-13 13:24] bostjan commented on #83
Updated doc about this too :)

[2015-08-13 14:50] urq commented on #83
Got it.  Thanks for the debugging help.  Valgrind looks good.  No leaks, and the open fds look like they're coming from elsewhere.
[code]

[2015-08-13 14:56] bostjan commented on #83
Yeah, looks good. Could you please paste this output into separate issue, so I will look into these open file descriptors next week. Tnx.

b.

[2015-08-13 17:17] urq commented on #83
Will do.  Also fixed copypasta error and alphabetization.  Thanks again.

[2015-08-13 17:19] urq opened #92 "Open fds from valgrind output"
When running Valgrind for issue #83 , I found some open file descriptors that should be looked into.  See that issue if you need context on the build:
[code]

[2015-08-24 20:51] blysik commented on #75
I'm interested in this also.  Subscribing to this thread.

[2015-08-24 22:39] bostjan commented on #75
Well, if someone can resolve snprintf issue and submit a pull request, that would be splendid :)

b.

[2015-08-28 02:24] bostjan commented on #83
Merged and released in v2.4.4

[2015-08-28 02:27] bostjan commented on #89
Was this fixed, Patrick?

[2015-08-28 02:54] bostjan commented on #92
Fixed in commit 202eea6dc6004d4fe84fd55708cb1b7a2291df28.

b.

[2015-08-28 02:54] #92 closed

[2015-08-28 03:01] bostjan commented on #84
Fixed in 2.4.4.

[2015-08-28 03:08] bostjan opened #94 "Migrate travis to container based builds"
Sudo: false and fix apt-get methods

[2015-08-28 10:31] mackermann2 commented on #83
Hi Bostjan,

Thanks a lot for this new release. But it seems to not working. Indeed :

- my configuration file :
egrep -v "^;|^$" /etc/snoopy.ini
[snoopy]
message_format = "[%{datetime}] workdir=%{cwd} login=%{login} pid=%{pid} tty=%{tty} tty_username=%{tty_username} cmdline=%{cmdline}"
filter_chain = "only_tty"
output = file:/var/log/snoopy.log

- my crontab :
crontab -l
*/1 * * * * ls /tmp 2>&1

[2015-08-28 11:17] bostjan commented on #83
It is true I only created test for this new filter, which passed once debugged, on all systems. I just tested this manually, with your configuration, and it works with no hassle (ubuntu 14.04 lxc container).

What OS are you using?

[2015-08-28 11:29] bostjan commented on #83
Can you apply this diff and paste the results that are logged?
https://gist.github.com/bostjan/7a944aaf41701d724c81

It would log the return value of ttyname_r() at the end of error message.

Desc:
In the code of datasource tty, I covered all return values listed in manpage for ttyname_r, so this is something new. It didn't work with 2.4.3 too, right?

b.

[2015-08-28 12:43] mackermann2 commented on #83
Hello. I've made an RPM package for RHEL 6.5:

cat /etc/redhat-release
Red Hat Enterprise Linux Server release 6.5 (Santiago)

The specification file :

Name: snoopy
Version: 2.4.4
Release: 1
Summary: Snoopy is a wrapper around execve() that logs all executed commands by all users and processes to syslog.
Vendor: SFR CAV800
Group: Application/Monitoring
License: GPLv2
BuildRoot: %{_tmppath}/snoopy

[2015-08-28 13:10] mackermann2 commented on #83
Modification of "tty.c" has generated an error during "make" :

tty.c: In function ‘snoopy_datasource_tty’:
tty.c:68: error: ‘re’ undeclared (first use in this function)
tty.c:68: error: (Each undeclared identifier is reported only once
tty.c:68: error: for each function it appears in.)
tty.c:69: error: expected ‘)’ before ‘}’ token
tty.c:69: error: expected ‘;’ before ‘}’ token

In your URL https

[2015-08-28 13:12] bostjan commented on #83
Nope, something has cut the end of line. Fixed, pls try again.

[2015-08-28 13:21] mackermann2 commented on #83
The result is the following one (return code 22):

[2015-08-28T15:20:01+0200] workdir=/root login=root pid=27068 tty=ERROR(ttyname_r->EUNKNOWN:22) tty_username=ERROR(ttyname_r->EUNKNOWN) cmdline=ls /tmp
[2015-08-28T15:20:01+0200] workdir=/root login=root pid=27069 tty=ERROR(ttyname_r->EUNKNOWN:22) tty_username=ERROR(ttyname_r->EUNKNOWN) cmdline=/usr/lib64/sa/sa1 60 10
[2015-08-28T15:20:01+0200] wo

[2015-08-28 13:35] bostjan commented on #83
BTW: Tried it in centos 6 LXC container, works as expected.

[2015-08-28 14:08] bostjan commented on #83
This seems to be the issue:
https://sourceware.org/bugzilla/show_bug.cgi?id=12340

Please tell me your glibc version? This should be resolved in 2.16.

I tested it on glibc 2.7 too, it works as expected there too.

[2015-08-28 14:13] bostjan commented on #83
There seem to be two issues at play:
1. the one mentioned above - can you do yum upgrade and retest with latest glibc?
2. If #1 is fixed, this EINVAL will change to ERANGE, which is good and predicted, but this still does not explain why buffer of 4096 bytes is too small for your path to TTY. This is weird.

Can you play around with buffer lengths in datasource/tty.h and report, if tty=ERROR(ttyna

[2015-08-28 15:16] mackermann2 commented on #83
My version is an old version : "glibc-2.12-1.47.el6.x86_64".
I'm going to try to update (yum upgrade doesnt work. It's already the last version in my repository).

I will let you know.

[2015-08-28 18:37] bostjan commented on #83
I checked one RHEL I manage, set up in mid 2013, now it at .166 glibc version, yum upgraded up to rhel 6.7.

[2015-09-07 06:45] pythonsky opened #95 "non-interactive + non-login shell can't record"
non-interactive and non-login shell exec the command can't find the log

ssh user@ip 'command'

/var/log/auth.log just like
2015-09-07T14:41:11.806877+08:00 ubuntu sshd[2004]: Received disconnect from 192.168.5.2: 11: disconnected by user
2015-09-07T14:41:11.807433+08:00 ubuntu sshd[2004]: pam_unix(sshd:session): session closed for user root

[2015-09-07 08:15] bostjan commented on #95
What is your question?

[2015-09-07 08:20] pythonsky commented on #95
by "ssh user@host 'command'"  to exec command on the host, the host is install snoopy,

watch the log(/var/log/auth.log),just like
2015-09-07T14:41:11.806877+08:00 ubuntu sshd[2004]: Received disconnect from 192.168.5.2: 11: disconnected by user
2015-09-07T14:41:11.807433+08:00 ubuntu sshd[2004]: pam_unix(sshd:session): session closed for user root

the exec command is not by record

[2015-09-07 09:25] bostjan commented on #95
Either restart SSH server or whole server, or your configuration redirects snoopy log entries somewhere else. Use strace to determine where snoopy sends them (file?) and if it is /dev/log, consult your syslog configuration where those messages actually go.

[2015-09-07 09:25] #95 closed

[2015-09-08 21:40] bcg62 opened #96 "snoopy-enable does not support multilib architectures"
I've been building my own rpms and like to use snoopy for system wide logging which means I need 32/64 bit packages installed to capture both architectures.

Problem is each package tries to install its own version of snoopy-enable which only works for its respective build. It also creates transaction conflicts when attempting to install the second rpm.

[2015-09-09 07:51] bostjan commented on #96
Hi Brendan,

so I believe you are using /usr/local/$LIB/libsnoopy.so variant of enabling Snoopy in /etc/ld.so.preload?

Snoopy-enable:
I suppose I could fix it so that $LIB variation gets checked for existance. But I think it would be better to create snoopy-enable-multilib, it would lead to less convoluted code. Fortunately I do not have to deal with multilib systems, therefore I have very little

[2015-09-09 14:15] tkimball83 commented on #96
I actively maintain my snoopy spec file, which can be found here:

https://github.com/tkimball83/rpmbuild/blob/master/SPECS/snoopy.spec

I'd actually like to submit this to EPEL at some point.

[2015-09-09 14:45] bostjan commented on #96
Thanks for chipping in.

[2015-09-09 14:46] bostjan commented on #96
Brendan, If you try @tkimball83 spec, please report your success back here, if possible.

[2015-09-09 18:15] bcg62 commented on #96
@bostjan yes I am using $LIB.  I have a vagrant build setup using the spec files in the project. Let me give @tkimball83 a try and see how it goes. Thanks a lot for sharing.

[2015-09-09 20:01] bcg62 commented on #96
@tkimball83 used your spec file to build x86_64/i686 packages and theres still overlap between the two making it difficult to run multilib

[code]

[2015-09-09 20:18] tkimball83 commented on #96
Are you saying the 64bit version of the package won't log 32bit applications?  I haven't tested that myself, but I think it should collect both?

@bostjan - does a 64bit version of snoopy not log 32bit applications?

[2015-09-09 20:24] bcg62 commented on #96
Thats what the documentation implies

[code]

[2015-09-09 20:29] tkimball83 commented on #96
Ok, got it.  Let me see what I can do about this in the spec file.  We may need to move the location of snoopy-enable to an architecture based directory.  We will also have to manually populate /etc/ld.so.preload, as we can't have two rams writing to the same location :(

[2015-09-09 21:02] tkimball83 commented on #96
Try out this commit:

https://github.com/tkimball83/rpmbuild/commit/583bd657dc2bc10c25fcc846f1ea1febcfa66637

[2015-09-09 21:56] bcg62 commented on #96
looks much better, I was able to install both without issue. Thanks!

[2015-09-10 13:56] bcg62 commented on #96
here's the vagrant setup i'm using to build rpms

https://github.com/bcg62/snoopy-rpm

There's a compilation error when building on el5:

[code]

Is this something that has been seen before?

[2015-09-10 16:58] tkimball83 commented on #96
This is due to -Werror being set in build/Makefile.am.common.

I updated my spec to fix this for el5 systems, try https://github.com/tkimball83/rpmbuild/commit/88ebf69d88989c12dc1cf1f9e846f33579c0e1a8

[2015-09-10 18:41] bcg62 commented on #96
Updated and its still exists in build/Makefile.am.common

[code]

[2015-09-10 18:43] tkimball83 commented on #96
Can you paste a snippet from your rpmbuild output?

[2015-09-10 18:55] bcg62 commented on #96
https://gist.github.com/bcg62/9c703ac22589c7590f84

https://gist.github.com/bcg62/5cf2a9b8ae4ed57189f1

[2015-09-10 19:05] tkimball83 commented on #96
It seems "%el5 1" is missing from /etc/rpm/macros.dist.  Can you confirm and also paste the contents of that file?  I may need to match against a different macro to support el5.

Thanks!

[2015-09-10 19:37] bcg62 commented on #96
https://github.com/rerun/rerun/issues/171

/etc/rpm/macros.dist doesn't exist on el5, but installing buildsys-macros fixes it and i was able to complete the rpm build

Not sure if thats a good approach as then buildsys-macros is a requirement for using the spec on el5.

[2015-09-10 19:46] bostjan commented on #96
@tkimball83

This does not happen on CentOS 6, right?

This is a bit of a catch-22 situation:
- on one hand -Werror takes care of many errors that might otherwise crash Snoopy and consequentially the program that is trying to do the exec
- on the other hand, using common function prototype for datasources is the only way to do it.

That said, in build/Makefile.am.common there is this setting:
AM_C

[2015-09-10 20:09] bcg62 commented on #96
here is the full el5 rpm build output if it helps.

https://gist.github.com/bcg62/bd4bbb0710a18521ca04

[2015-09-10 20:18] bostjan commented on #96
@bcg62 is this build output for me or for Taylor? :)

If for me, this one is successful, right? I can not find the error mentioned about, but it is occuring as warning.

Can you reproduce the error, and please use make V=1 to produce full commands? Tnx.

[2015-09-10 20:27] tkimball83 commented on #96
@bostjan - Yes, it happens on CentOS 6 and bails out, hence the removal.

[2015-09-11 11:44] bostjan commented on #96
Can not agree with you here, just tested in on centos 6 lxc:
- building from package works as expected
- building from git has flaws as toolchain is obsolete (I really dislike RH/CentOS for this reason!):

The only change needed for building from git is this:
[code]

I guess the rpmbuild process is doing something funky with CC commands (adding -Werror and not -Wno-unused-parameter or sth).

b.

[2015-09-11 14:56] bcg62 commented on #96
centos6, commented out %{__sed} -i -e "s/\ -Werror//g" configure.ac build/Makefile.am.common from the spec file and set V=1 for make.

https://gist.github.com/bcg62/cb03bd8fe7d01e34d750

[code]

[2015-09-11 15:16] bostjan commented on #96
This is fixed in 2.4.4, commit b788583fb37e9ef595699e0873e791c24fa3da7d.

Please test with latest version before reporting any outstanding issues.

b.

[2015-09-11 15:33] bcg62 commented on #96
@bostjan thanks, the spec was building from an older commit. 2.4.4 does indeed resolve the issue.

@tkimball83 can you update to 4541b9f328231468043ac4115099b0bc80165487 ? and remove the sed for -Werror.

Thanks!

[2015-09-11 17:18] tkimball83 commented on #96
I updated to commit https://github.com/a2o/snoopy/commit/be2df693a920b23ba1ce29e9a3e8f8a41aa38e4e (one commit newer)

Spec: https://github.com/tkimball83/rpmbuild/commit/230eb063dac75b567439606d89de3a61af16d2d1

[2015-09-16 10:01] #96 closed

[2015-09-23 05:48] clover1983 commented on #89
I have the same problem

this is the regular user with no-snoopy-output-after-initial-user-login

_____________________________________________________________

[lily@test util]$  strace /home/lily/20150922/snoopy-2.4.4/util/snoopy-test-output
execve("/home/lily/20150922/snoopy-2.4.4/util/snoopy-test-output", ["/home/lily/20150922/snoopy-2.4.4"...], [/* 23 vars */]) = 0
brk(0)

[2015-09-23 09:36] bostjan commented on #89
@clover1983 : HI.

This part of the code is present in both traces:
socket(PF_LOCAL, SOCK_DGRAM|SOCK_CLOEXEC|SOCK_NONBLOCK, 0) = 3
connect(3, {sa_family=AF_LOCAL, sun_path="/dev/log"}, 10) = 0
sendto(3, "<86>snoopy[15009]: [uid:1003 sid"..., 219, MSG_DONTWAIT|MSG_NOSIGNAL, NULL, 0) = 219
close(3) = 0

This does the actual transmission of message to /dev/log socket, which is then picked up by your

[2015-10-08 10:57] Packuh opened #97 "checking for socat... no"
Hi.
Sorry my eng is bad.
Can you help me?

I use HP-UX OS Unix. And I configure Snoopy, but Snoopy ./configure give me error
“checking for socat... no
configure: error: Please install "socat" program. Reason: Needed for "make check" test suite.”

Socat doesn't exist in sourse on HP-UX, and I can't establish socat. socat includes functions which aren't supported by HP-UX.

Whether it is possible to

[2015-10-08 11:00] Packuh commented on #97
I gave out to a ./configure a mistake on readlink. .Readlink is absent in HP-UX. I wrote it, the following mistake was with socat

[2015-10-08 11:29] bostjan commented on #97
Hi,

I do not think Snoopy will work on HP-UX. It seems HP-UX is missing /etc/ld.so.preload functionality, see here:
http://support.hp.com/us-en/document/c03680658

Of course I am anxiously waiting to be proven wrong on this issue :)
Try Snoopy version 2.3.2 which was the last release that did not require socat program.
Downloads are available here:
http://source.a2o.si/download/snoopy/

It is tru

[2015-10-08 12:12] Packuh commented on #97
make

libtool: compile:  gcc -DHAVE_CONFIG_H -I. -I../.. -Wall -Werror -I../../src -g -O2 -c socketoutput.c  -fPIC -DPIC -o .libs/socketoutput.o
socketoutput.c:37:22: error: features.h: No such file or directory
socketoutput.c: In function 'snoopy_output_socketoutput':
socketoutput.c:66: error: 'AF_LOCAL' undeclared (first use in this function)
socketoutput.c:66: error: (Each undeclared identifier

[2015-10-08 12:26] Packuh commented on #97
the readlink function is realized in gcc. But it isn't present in HP-UX. You want it to bring in a source text? I wrote it on bash, I don't think that it will make for you a problem.

[2015-10-08 12:49] bostjan commented on #97
Nasty.

I must admin I really have no access to HP-UX systems to test it myself, nor overwhelming desire to do so :) We might do it with support contract, but not before november.

I will gladly accept patches when provided.

A hint before you start hacking into it:
- devlog output relies on socket output and this is proving will be tricky
- legacy syslog output is your best bet

It should be poss

[2015-10-08 20:19] neubian commented on #28
I never knew why I had to reinstall a server from scratch earlier this year, because LVM seemed perfectly healthy.  I'd installed snoopy just before.  Good to know.

[2015-10-15 12:08] kippi6171 opened #98 "Filter on login"
All

We are trying out snoopy, looks a power tool, however we have checks that are run by root. Snoopy is currently logging all the commands that the checks are doing.

What I would like to do is to use the login field and setup a filter. For example I know when these checks run as root the login is (error). I have had ago at building my own filter however it's errors saying it:

/bin/install: sym

[2015-10-15 15:30] bostjan commented on #98
I realised that joining content of contribution guidelines and hacking information in one document called CONTRIBUTING.md is confusing, so I did the split.

Hacking guide:
https://github.com/a2o/snoopy/blob/master/doc/HACKING.md

Contributing guide, if you decide it is worth it:
https://github.com/a2o/snoopy/blob/master/CONTRIBUTING.md

b.

PS: What you are trying to achieve might already be done

[2015-10-15 15:36] kippi6171 commented on #98
We just need away to filter out on the login name. I was just going to clone the exclude_uid one and change it to login.

[2015-10-16 09:39] kippi6171 commented on #98
As far as I can see I have followed the hacking guide, if I am in the filter directory I can do make and it's building the filter:

CC       exclude_rootlog.lo

However I can't seem to link it into snoopy.

uid=0 tty=/dev/pts/0 login=vagrant cmdline=tail -f /var/log/snoopy.logERROR(Filter not found - exclude_rootlog)

Any pointers would be great.

Thanks

Chris

[2015-10-16 11:36] bostjan commented on #98
Hi Chris,

Normally grep for exclude.uid in whole repository and you will see the locations that need your attention, as noted in HACKING.

I can hardly give pointers without looking at your code. Fork Snoopy and commit+push your changes, and I will take a look next week.

b.

[2015-10-23 13:40] kippi6171 commented on #98
Hi Bostjan

I have managed to get my filter working well, however I have had to build this on a FC21 box, but when I try and build it on Centos 6.7 we get the issue with automake hence having to build it on FC21. If I build the package and then install it on Centos 6.7 of cause I get issues with glib. I am interested in how you package it so that I can build it on 6.7.

Thanks for the help.

Chris

[2015-10-23 17:13] bostjan commented on #98
I usually build Snoopy on every system as it is simple package to build (comparatively).

What issue do you get? Can you install it with install script (it supports git-GITREF) pattern, but you will have to edit it and point it to your git repository)?

b.

[2015-10-27 14:17] kippi6171 commented on #98
The error I get is:

Last 5 lines of Snoopy installation log file:
         It also requires GNU Autoconf, GNU m4 and Perl in order to run:
         <http://www.gnu.org/software/autoconf>
         <http://www.gnu.org/software/m4/>
         <http://www.perl.org/>
make: *** [aclocal.m4] Error 127

On centos 6.7, by default it's automake-1.11

[2015-10-27 15:02] kippi6171 commented on #98
Doing the pull from git and now getting this error:

configure.ac:10: warning: AC_INIT: not a literal: m4_esyscmd_s(echo $(./build/get-version.sh))
configure.ac:12: error: possibly undefined macro: m4_esyscmd_s
      If this token and others are legitimate, please use m4_pattern_allow.
      See the Autoconf documentation.
autoreconf: /usr/bin/autoconf failed with exit status: 1

[2015-10-27 17:09] teon-git commented on #98
A, yeah, this is inconvenient.

As git version of snoopy is intended for development, and most of snoopy
development is either done by me or by people on fairly recent systems, we
have simplified the process by eliminating the need for bumping version
numbers in configure.ac every time a build is needed.

This modification does the trick:
diff --git a/configure.ac b/configure.ac
index b71aa32..07e

[2015-10-27 18:11] bostjan commented on #98
Allright, I've made some adjustments to "bootstrap.sh" etc.

Use commit b067e84d61d9ad30b39c07c853d238ce37b7bc70 or later for your endeavours from now on.

Please report back if you are successful (or not).

[2015-10-28 10:24] kippi6171 commented on #98
That version is exiting with:

Last 5 lines of Snoopy installation log file:
### with an argument to avoid this error message:
###
###     ./bootstrap.sh geezer-os
###

[2015-10-28 11:05] bostjan commented on #98
You will need to edit install script and add "geezer-os" argument to ./bootstrap.sh invocation, around line 160.

b.

[2015-11-02 15:24] kippi6171 opened #99 "echo as sudo"
All

All for some reason if I do:

echo "test" >/tmp/test

This isn't logged by snoopy, everything else is logged, but our worry is someone will echo "" to a file.

Thanks

Chris

[2015-11-02 15:30] bostjan commented on #99
Command "echo" without specifying path is using bash built-in, and thus not executing command, thus Snoopy can not detect and log it. /bin/echo > /tmp/test will be logged, but only up to the ">" character.

b.

[2015-11-02 15:30] #99 closed

[2015-11-02 16:01] kippi6171 commented on #99
ah great, makes perfect sense now.

[2015-11-15 17:51] stdweird commented on #96
@tkimball83 thanks for the specs!

[2015-11-16 09:33] kippi6171 opened #100 "Issues with snoopy and keepalived"
All

We have deployed snoopy to our development environment however we have the following configuration in keepalived:

vrrp_script chk_haproxy {                       # Requires keepalived-1.1.13
    script /root/scripts/chk_haproxy.sh
    interval 2                                  # check every 2 seconds
}

Since installing snoopy this seems to fail and cause keepalived to flip.

Nov 16 08:27:2

[2015-11-16 10:49] bostjan commented on #100
Too many variables here:
- snoopy version
- snoopy configuration (logs via syslog or directly to file?)

I am using keepalived with snoopy for couple of years now, no problems.

[2015-11-16 14:12] kippi6171 commented on #100
Snoopy version is: 2.4.7
Logging to a directory

Thanks

Chris.

[2015-11-16 14:19] bostjan commented on #100
I guess logging is hanging on a syscall to write to file, or something similar. Can you provide strace and lsof outputs for relevant processes (either bash or killall, maybe something else)?

You will probably notice that one of these processes is stuck at some syscall or sth. Does using devlog output provider work?

b.

[2015-11-16 14:30] kippi6171 commented on #100
Let me write a check that keeps calling killall, as when I have been testing by hand it never fails.

The devlog is available but not using it at the moment.

Thanks

Chris

[2015-11-17 21:17] bostjan commented on #100
Also test with similarly-configured environment, and under same user.

b.

[2015-11-18 09:21] kippi6171 commented on #100
We have about 20 dev environments that are all the same, what it looks like is the split second that snoopy is adding is taking the whole process over 1 second.

This isn't a fault of snoopy but that killall is expensive and clearly adding another layer however small is causing the process to slow down just enough to trip keepalived.

Thanks for all your help.

Chris.

[2015-11-18 13:15] bostjan commented on #100
Tnx for reporting back the cause of your problems.

b.

[2015-11-18 13:15] #100 closed

[2015-12-31 14:17] #94 closed

[2015-12-31 15:41] #98 closed

[2015-12-31 15:44] bostjan commented on #89
No reply for 3 months, closing.

[2015-12-31 15:44] #89 closed

[2015-12-31 16:08] #88 closed

[2015-12-31 16:13] bostjan commented on #90
Hi again PSK :)

Do you mind if I merge parts of your code for snoopy-install.sh script?

[2015-12-31 16:53] bostjan commented on #90
Initial implmentation is done: ./snoopy-install.sh snoopy-x.y.z.tar.gz.

Download-only mode is pending. I find it quite awkward actually, as if net is not accessible, download mode will not work :)

[2016-01-02 01:05] #97 closed

[2016-01-02 01:57] #90 closed

[2016-01-04 02:03] bostjan commented on #83
Closing, no feedback.

[2016-01-04 02:03] #83 closed

[2016-01-25 16:12] jaydestro opened #101 "Typo in README"
tried to submit a PR to change this:

from

122

 `[etc/snoopy.ini](etc/snoopy.ini) and read appropriate sections of`

to go to the correct link which is `etc/snoopy.ini.in`

[2016-01-25 16:17] #101 closed

[2016-01-25 16:17] bostjan commented on #101
Tnx for reporting this.

b.

[2016-03-04 20:53] lhmerino opened #102 "configuration with LOG_LOCAL[0-7] does not work"
## Issue description - Environment basics

(replace 'FILLIN' with actual values from your environment)

| Key                                 | Value             | Comments                         |
| ----------------------------------- | ----------------- | ---------------------------------|
| Architecture:                       | x86_64            | x86 is not supported anymore     |
| Linux dis

[2016-03-05 03:08] bostjan commented on #102
Thanks for report (I like the new issue template feature of GitHub, you are the first to use it:)

Can you try the fix I have pushed to this branch and report back the results?
https://github.com/a2o/snoopy/tree/bugfix/github-102-syslog-facility-localX

Tnx,
b.

[2016-03-05 05:59] lhmerino commented on #102
The issue template is really nice! It made it easy for me to know what to include.

I just tried the modified version of configure.ac and it works with no problems. Thanks!

[2016-03-05 12:17] #102 closed

[2016-03-05 15:20] bostjan commented on #102
Released 2.4.5 in response to this.

I've figured I missed this section of code with build test suite (only the enable/disable flags were taken into account).

Tnx for taking time to confirm the bugfix.

b.

[2016-04-27 06:18] nirajmchauhan opened #104 "Snoopy keeps logging ERROR(ttyname_r->EUNKNOWN)"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#i1-version-information-and-download-links (not the latest Snoopy version packaged by your favorite distribution, it might be out of date)
- [x] I have read Snoopy documentation @ https://github.com/a2o/snoopy/blob/master/README.md & ht

[2016-04-27 18:43] bostjan commented on #104
Hi Niraj,

do you get this error when using any containerization technology, or is it pure CentOS 6.7 on bare metal or VM?

[2016-04-27 19:00] bostjan commented on #104
It should be "tty:(none)" for those commands that produce error, as it seems they are cron-run, or run by some daemon.

Do you have udev running?

[2016-04-27 19:19] bostjan commented on #104
Can you try potential "bugfix" in the ```bugfix/github-issue-104-ds-tty-on-centos6``` branch?

Remove your Snoopy installation, and use this command to install new version:
[code]

Three more questions:
- is SElinux enabled?
- Were the messages with E_UNKNOWN flooding like something was looping, or did it seem like a normal flow of events?
- If you go over your logs, do all programs that run in ba

[2016-05-19 12:30] berzia opened #105 "Install Snoopy on Freebsd"
Hi,
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#i1-version-information-and-download-links (not the latest Snoopy version packaged by your favorite distribution, it might be out of date)
- [x] I have read Snoopy documentation @ https://github.com/a2o/snoopy/blob/master/README.md

[2016-05-19 13:31] bostjan commented on #105
I see this is not documented anywhere, but Snoopy is pretty much linux-oriented ATM, or better, untested on other unix platforms.

There was some work being done for OS X, but is far from complete.

What can I say - patches welcome! :)

[2016-05-20 04:17] tkimball83 opened #106 "snoopy causing NetworkManager to segfault"
Architecture: x86_64
Linux distribution: CentOS
Linux kernel: 4.5.3-x86_64-linode67 (www.linode.com)
Distribution version: 7.2.1511
Snoopy version: 2.4.5
Snoopy config file was used: yes
Snoopy threading support enabled: Configured with --enable-everything

This issue may be specific to Linode as I just fired up a node this evening, but I thought I'd report it anyhow.

[root@fremont ~]# service Ne

[2016-05-20 13:32] bostjan commented on #106
Do you get core dump file, can you produce a function call stack for this? It would help tremendously.

[2016-05-22 02:37] tkimball83 commented on #106
I'm having trouble producing a core dump file.  While the core dumping ability is enabled on this node it seems NetworkManager won't produce a core file.  I tested with a bunk binary I created and cores are being generated successfully, but not with NetworkManager :(

[2016-05-23 23:55] bostjan commented on #106
Does it fail also:
- if you use --disable-thread-safety (make sure by inspecting configure output it is really disabled)?
- if you exclude any/all data sources (message_format="static")?
- if you use different output (i.e. file)?

A bit short on time atm, sorry.

[2016-05-26 11:59] stdweird opened #107 "Snoopy and Intel inspector"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#i1-version-information-and-download-links (not the latest Snoopy version packaged by your favorite distribution, it might be out of date)
- [x] I have read Snoopy documentation @ https://github.com/a2o/snoopy/blob/master/README.md & ht

[2016-05-26 11:59] stdweird commented on #107
What data can we provide to help figure this out?

[2016-05-26 12:00] stdweird commented on #107
@wpoely anything to add?

[2016-05-26 12:07] wpoely86 commented on #107
No, as it closed source, we don't 'see' much. Inspector is a memory leak/race condition testing tool of Intel. So it can do weird stuff. As far as we can see, it doesn't even begin to test the binary. It's stuck somewhere before.

[2016-05-26 15:15] bostjan commented on #107
Hello both,

two things that would be helpful, are:
- use ./configure --disable-thread-safety and test with that to see if the problem is in threaded or unthreaded implementation
- try to figure out if certain data source or certain output provider is causing problems
- run the crashing program with through strace and/or ltrace and observe in the output where crash happens.

Is intel inspector fre

[2016-05-27 01:26] bigHosting opened #108 "Logging open system call"
We have the need in our environment to log multiple calls so we started with glibc open system call. Our Chief Software Architect Derek added the open call to snoopy so we want to contribute back to the community with a patch he wrote for snoopy.c version 1.7.10:

int open(const char *path, int oflag, ...)
{
        static int (*func)(const char *, int, ...);
        mode_t mode;

        va_list

[2016-05-27 08:19] bostjan commented on #108
Hello Ms./Mr. X (behind bigHosting username),

Thank you for your contribution, but I will politely reject it, reason below.

### About logging open() syscalls:

I can understand your need for this, but Snoopy's objective is to log executed commands on the system, not general syscall log. ```strace``` command does that just fine. If you need wider tracing, one of the kernel tracing subsystems shou

[2016-05-27 08:19] #108 closed

[2016-05-27 12:20] wpoely86 commented on #107
- ` --disable-thread-safety` doesn't make any difference
- I've tried `devnull` and only logging the uid of the user, but still no difference.
- Unfortunately, neither strace or ltrace gives useful results: for both the program stops instead of hanging.

Intel Inspector ( https://software.intel.com/en-us/intel-inspector-xe ) is not free but there is 30 day trial.

[2016-05-28 13:43] bostjan commented on #107
Waiting for Intel, but this one might be tricky: I think this tool works much like Snoopy in this respect, using the same facilities for assert itself between OS and inspected binary.

[2016-06-02 10:41] bostjan commented on #107
Works for me, tested on Ubuntu 14.04:

[code]

Inspector output:
[code]

Snoopy output:
[code]

Is there a particular binary that is causing problems?

[2016-06-02 13:15] bostjan commented on #106
Works for me (minimal install + install group "GNOME Desktop" + graphical.target set + static network config.

Do you have anything else configured that is drastically different? Can you retest with stock centos 7 + snoopy + similar network config?

[2016-06-02 18:08] tkimball83 commented on #106
Are you using NetworkManager with dhcp?  I wasn't using static address settings.

[2016-07-08 00:27] p64 commented on #106
I have the same issue with DHCP.  Running as a guest in KVM.  kernel - 3.10.0-327.22.2.el7.x86_64.

@tkimball83  - I noticed your spec file actually says "%configure --enable-everything".  They says that is only for testing purposes.  However I built without that and got the same result.  I'm posting my spec file shortly.

[2016-07-09 05:44] tkimball83 commented on #106
I'm happy to see that its most likely not kernel related due to the big gap in version differences.

@p64 - Were you able to produce a core dump?

[2016-07-09 15:51] bostjan commented on #106
After initial investigation, this has something to do with configuration file, more specifically with imported iniparser library.

Adding --disable-config-file to the end of ./configure line solves the problem. I know this is not a solution, just a workaround.

[2016-07-09 17:16] bostjan commented on #106
Also, the problem is not NM itself, but rather dhclient, that gets executed as its subroutine, dies with segmentation fault (11).

No clue why, as of this moment.

[2016-07-11 18:01] p64 commented on #106
@tkimball83  - I didn't get that far.  Can try but it sounds like @bostjan is past that point at this point.  Can attempt to capture if need be still.

[2016-07-11 20:26] bostjan commented on #106
@p64 and @tkimball83 - if any of you are able to obtain a core dump of crashed process, it would be tremendeously helpful.

[2016-07-11 21:25] p64 commented on #106
@bostjan -  Sometimes I miss the good ol' days when core dumps just actually showed up.  Still trying to produce one with a variety of failed methods.  Even tried running dhclient in the foreground which was of little value.  Still working on it.

[2016-07-11 22:24] p64 commented on #106
@bostjan - it seems to be network manager that is coredumping.

I actually spent a few cycles trying to run dhclient manually, which was a disaster since it gave me an IP. :)

[code]

Does that help?

[core.2127.gz](https://github.com/a2o/snoopy/files/358206/core.2127.gz)

[2016-07-20 07:49] ElanII commented on #75
hi all, I'm interesting in studying snoopy under OS X but I'm truly newbie, seem to understand that i can't install on OS X? or I'm wrong

[2016-07-21 20:46] bostjan commented on #75
You are correct.

To get you going, create an Ubuntu 14.04 VM on your OS X and install Snoopy there first, from git. Once you are familiar with how things are working it Linux, you will be much better off for starting OS X work.

[2016-07-25 00:06] bostjan commented on #106
@p64 Yeah I got that far in the mean time too.

Dissecting iniparser is really not on my high-priority todo list, and thus just replacing it with alternative implementation is more viable approach.

Bugfix is available in branch ```bugfix/github-106-nm-segfault```.
Works for me, no NM segfault, IP obtained via DHCP.

Please be kind enough and test out the bugfix and report back results. Thank you.

[2016-08-12 18:35] Esya opened #110 "source.a2o.si is down and the installer does not work anymore"
Everything is in the title

[2016-08-13 16:57] bostjan commented on #110
Fixed, thanks for reporting it!

[2016-08-13 16:57] #110 closed

[2016-08-18 12:09] wakaru44 commented on #104
+1

Running on  ```Linux myhostname 3.2.0-4-amd64 #1 SMP Debian 3.2.73-2+deb7u2 x86_64 GNU/Linux```.

- it seems to happen with all programs in the background. none of them says "none"

[2016-08-19 21:50] bostjan commented on #104
@wakaru44 +1 on what, bugfix or bug itself, or that bugfix does not fix the issue?

[2016-08-29 22:12] orchestrate8D opened #111 "Container Logging?"
## Checklist before I submit this issue report

I confirm that:
- [ x] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#i1-version-information-and-download-links (not the latest Snoopy version packaged by your favorite distribution, it might be out of date)
- [x ] I have read Snoopy documentation @ https://github.com/a2o/snoopy/blob/master/README.md &

[2016-08-30 10:56] bostjan commented on #111
I am not intimately familiar with Proxmox, but if it is anything similar to LXC, it cleans the environment before starting processes in a "containerized" environment (chroot, mount, proc, dev namespace).

Therefore, Snoopy's LD_SO_PRELOAD environment variable does not leak into the container from the host, nor is container host's /etc/ld.so.preload file visible from within container environment.

[2016-08-30 10:56] #111 closed

[2016-09-13 18:45] jmtysonjr commented on #106
@bostjan your fix worked for me, thanks!

[2016-09-14 14:28] bostjan commented on #107
Closing, no response. Reopen if needed.

[2016-09-14 14:28] #107 closed

[2016-09-14 15:03] #106 closed

[2016-09-14 15:06] bostjan commented on #106
Fix released as version 2.4.6. Thanks for verification.

[2016-10-18 18:21] mpw6 opened #112 "$LIB variable in /etc/ld.so.preload does not enable multilib support in Unbutu 16.04"
## Checklist before I submit this issue report

I confirm that:
- [X] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#i1-version-information-and-download-links (not the latest Snoopy version packaged by your favorite distribution, it might be out of date)
- [X] I have read Snoopy documentation @ https://github.com/a2o/snoopy/blob/master/README.md & ht

[2016-10-19 06:55] bostjan commented on #112
Hey Mike,

It would seem that $LIB is not supported by `ld` anymore.
Does it work if you do not use absolute path, but just `libsnoopy.so`?

Please refer to this page, where this approach is described (for another software):
https://github.com/rizsotto/Bear/issues/134

We might need to make installation step distro/version-dependent (yuck).
This has not been tested, nor will be on my end. If you d

[2016-10-19 13:44] mpw6 commented on #112
Boštjan,

Thank you for looking into this. I'm not sure why I didn't try this variation. At first, I saw this:
`ERROR: ld.so: object 'libsnoopy.so' from /etc/ld.so.preload cannot be preloaded (cannot open shared object file): ignored.`
Then I made sure that both `/usr/local/lib` and `/usr/local/lib64` were included in my `LD_LIBRARY_PATH`. That seems to have fixed it for 32-bit programs, but not f

[2016-10-19 14:06] mpw6 commented on #112
Update: I missed something the first time.  I tried this, and it seems to work:

copy 32-bit library to /usr/lib/i386-linux-gnu/ then copy 64-bit library to /usr/lib/x86_64-linux-gnu/.

I'm not yet certain that everything is getting logged, but I will test and let you know.

[2016-10-19 14:34] mpw6 commented on #112
Ok, this does seem to work:

[code]
[code]

[2016-10-19 15:01] #112 closed

[2016-10-21 16:38] bostjan commented on #112
Thanks for following up with a solution!

[2016-11-09 17:45] bostjan opened #113 "Store configure line in config.h"
Store configure line in config.h

Think about `snoopy` CLI utility, that could be used for debugging and other purposes (`snoopy info` could return version and build flags/time).

[2016-12-01 10:19] aa6 opened #114 "snoopy: command not found (Segmentation fault on install)"
[code]
From repository:
[code]
Stable version:
[code]
Development version:
[code]
Stable snoopy-install.log:
[code]
Development  snoopy-install.log is absent.

[2016-12-01 10:22] aa6 commented on #114
[code]
From repository:
[code]
Stable version:
[code]
Development version:
[code]
Stable snoopy-install.log:
[code]
Development  snoopy-install.log is absent.

[2016-12-01 11:12] bostjan commented on #114
This place is not the right place for distro-dependent Snoopy packaging.

`apt install snoopy` - remove all traces of this command before using recommended installation method.

Works as expected otherwise:

Install cmd:
[code]

Result:
[code]

Is there a log?
[code]

Yes there is:
[code]

Does it work?
[code]

Yes:
[code]

[2016-12-01 11:12] #114 closed

[2016-12-01 11:14] bostjan commented on #114
Talk to package maintainer about upgrading it to latest version, or making it work altogether.

Info:
[code]

[2017-02-26 19:49] tkimball83 opened #116 "Snoopy (2.4.6) and monit (5.14) don't play nicely."
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#i1-version-information-and-download-links (not the latest Snoopy version packaged by your favorite distribution, it might be out of date)
- [x] I have read Snoopy documentation @ https://github.com/a2o/snoopy/blob/master/README.md & ht

[2017-02-28 11:05] joaquimds opened #117 "Bash scripts spawned by a pm2-managed node application hang"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#i1-version-information-and-download-links (not the latest Snoopy version packaged by your favorite distribution, it might be out of date)
- [x] I have read Snoopy documentation @ https://github.com/a2o/snoopy/blob/master/README.md & ht

[2017-02-28 17:42] akwizgran commented on #117
I've found the problem. The name of the PM2 process is "PM2 v2.3.0: God", including whitespace. PM2 adds the working directory to the name of the Node process it spawns, so that process has a name like "node /foo", again including whitespace.

The whitespace causes a matching failure for the fscanf call at line 145 of exclude_spawns_of.c. The return value isn't checked for matching failures, only

[2017-03-08 05:03] tkimball83 commented on #116
I didn't catch this in the logs before, but this is actually causing monit to segfault.

kernel: monit[27230]: segfault at 12 ip 00000000004495fc sp 00007ffc5b278ad0 error 4 in monit[400000+92000]
kernel: monit[27232]: segfault at 12 ip 00000000004495fc sp 00007ffc5b278ce0 error 4 in monit[400000+92000]
monit[27269]: segfault at 12 ip 00000000004495fc sp 00007ffc5b278ad0 error 4 in monit[400000+92

[2017-04-22 13:12] bcg62 commented on #116
I am also seeing this same issue

[2017-04-24 14:40] jibriss opened #119 "Troubles with Snoopy and libapache2-mod-php5 on Debian 8"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#i1-version-information-and-download-links (not the latest Snoopy version packaged by your favorite distribution, it might be out of date)
- [x] I have read Snoopy documentation @ https://github.com/a2o/snoopy/blob/master/README.md & ht

[2017-05-09 10:05] celevra opened #121 "output to socket"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#i1-version-information-and-download-links (not the latest Snoopy version packaged by your favorite distribution, it might be out of date)
- [x] I have read Snoopy documentation @ https://github.com/a2o/snoopy/blob/master/README.md & ht

[2017-07-28 10:34] #105 closed

[2017-07-28 10:36] bostjan commented on #116
@tkimball83 @bcg62 does building Snoopy with `--enable-thread-safety` resolve your issues?

[2017-07-28 10:40] bostjan commented on #117
@akwizgran  Thanks for the report and pull request. Please run the test suite locally and update here with the results (or in pull request comments).

[2017-07-28 11:05] akwizgran commented on #117
@bostjan here's the result of running the test suite:
[code]

[2017-07-28 11:06] bostjan commented on #121
@celevra The `socket` output came to be because `devlog` logging proved troublesome for systemd-based  systems which pre-create the /dev/log socket and after receiving 10 messages, that socket starts blocking until real message consumer appears (either syslog or journald). This caused boot-time lockups.

That said, I think there is a mismatch in socket types here (note the `unix` socket type):
[co

[2017-07-31 01:13] tkimball83 commented on #116
My build includes --enable-everything

https://github.com/linuxhq/rpmbuild-snoopy/blob/master/SPECS/snoopy.spec

[2017-08-07 21:25] MarcosFouces opened #123 "Snoopy Fails to build from source with gcc-7"
## Checklist before I submit this issue report

I confirm that:
- [ *] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#i1-version-information-and-download-links (not the latest Snoopy version packaged by your favorite distribution, it might be out of date)
- [* ] I have read Snoopy documentation @ https://github.com/a2o/snoopy/blob/master/README.md &

[2017-08-11 08:55] kulozzzz opened #124 "UID SID"
I'd like to ask UID and SID what they represent, UDI, I know it represents the user ID, what about SID?

[2017-08-24 14:44] arlin2050 commented on #119
+1

[2017-08-24 14:51] arlin2050 commented on #119
I have the same problem. Here is the error :
[code]
I use snoopy 2.4.6, php 5.6.30 with apache mod on debian jessie 8.9 x86_64.
Thanks,

[2017-08-27 10:50] lukas227 commented on #123
Just for reference: this problem is fixed by pull request #122 .

[2017-09-18 14:58] mikaelmasson commented on #119
+1
I've got the same problem on 4 servers (Debian 8/Jessie + PHP 5.6 + Snoopy 2.4.6 + Apache 2.4).

Thanks,

Mike

[2017-10-25 23:23] Gerardwx commented on #112
On my Ubuntu 16.04 system, I ended up doing:

reboot

and then

apt-get install gcc-multilib
./snoopy_install.sh download
rm -rf snoopy-2.4.6
tar xfz snoopy-2.4.6.tar.gz
cd snoopy-2.4.6
CFLAGS=-m32 ./configure
make
make install
mv /usr/local/lib/libsnoopy.* /usr/lib/i386-linux-gnu/
echo 'libsnoopy.so' > /etc/ld.so.preload
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/lib

While this logs 32-bit and

[2018-01-07 10:30] Togal opened #127 "installation done and reboot machine,but no any record information in /var/log/*"
## Checklist before I submit this issue report

I confirm that:
- [ ] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#i1-version-information-and-download-links (not the latest Snoopy version packaged by your favorite distribution, it might be out of date)
- [ ] I have read Snoopy documentation @ https://github.com/a2o/snoopy/blob/master/README.md & ht

[2018-02-01 20:18] ageis commented on #123
Also failed to build with GCC 7.3.0:
[code]

[2018-02-12 13:19] c3c opened #128 "Command output logging"
I confirm that:
- [ ] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#i1-version-information-and-download-links (not the latest Snoopy version packaged by your favorite distribution, it might be out of date)
- [x] I have read Snoopy documentation @ https://github.com/a2o/snoopy/blob/master/README.md & https://github.com/a2o/snoopy/tree/master/doc
- [x

[2018-02-12 23:10] bostjan commented on #128
Short answer: no.

Longer version:
Snoopy inserts itself between the current and the start of the next process and is thus capable of logging the process startup parameters (command, pwd etc.). As soon as it is done doing what it is designed to do, it does not interfere with the new process anymore at all, unless that new process executes another program.

[2018-02-12 23:10] #128 closed

[2018-02-12 23:17] bostjan commented on #127
Is your syslog daemon working?

[2018-02-12 23:17] #127 closed

[2018-02-13 15:43] m-osmani opened #129 "snoopy crashes GitLab"
## Issue description - Environment basics

| Key                                 | Value             | Comments                         |
| ----------------------------------- | ----------------- | ---------------------------------|
| Architecture:                       | x86_64            | x86 is not supported anymore     |
| Linux distribution:                 | Debian            | | jessie
| D

[2018-02-14 07:18] bostjan commented on #129
1.8.x is ancient version of Snoopy. Closing.

Retest with latest version and if the issue persist, reopen this issue (or open a new one).

[2018-02-14 07:18] #129 closed

[2018-02-14 07:28] bostjan commented on #129
"It is really important." <--- what do you mean by that?

[2018-02-22 00:40] tmccombs commented on #46
I'm still seeing this with snoopy 2.3.1. I also notice that the segfault seems to be coming from strlen. Which makes me think the segfault is happening on line 66 of the current master:

[code]

So somehow snoopy_inputdatastorage_argv is either NULL or not a null-terminated string.

[2018-02-22 11:59] bostjan commented on #46
Hi Thayne,

**A quote from README:**
Only latest released version of Snoopy is "supported"! Any version that is not the latest (stable or development) is not supported. Please do not submit any bugfix/feature/change requests related to old and thus unsupported Snoopy versions.

Retest it with latest version.

PS: Where are you guys getting these old versions from?

[2018-02-22 16:35] tmccombs commented on #46
We are using Ubuntu 16.04 2.3.1 is the latest version in the Xenial repository.

[2018-02-23 07:26] bostjan commented on #46
There is a contact for Ubuntu build maintainer on the build project page (not maintained by me):
https://packages.ubuntu.com/xenial/admin/snoopy

2.3.1 is not the latest available Snoopy version :)

[2018-03-22 21:43] lhmerino commented on #124
It states that SID is "Process id of session group process leader"

Please take a look at /etc/snoopy.ini as it contains the description of each of the available data sources.

[2018-04-09 16:03] ifmusic opened #132 "Piped echo commands in bash don´t get logged"
## Issue description - Environment basics

| Key                                 | Value             | Comments                         |
| ----------------------------------- | ----------------- | ---------------------------------|
| Architecture:                       | x86_64            | |
| Linux distribution:                 | Ubuntu 16LTS            | |
| Distribution version:

[2018-04-10 09:04] bostjan commented on #132
"echo" is a bash internal command. Use `/bin/echo` to execute the external echo binary.

[2018-04-10 09:04] #132 closed

[2018-04-10 09:05] bostjan commented on #124
What @lhmerino said (Thanks, @lhmerino!).

[2018-04-10 09:05] #124 closed

[2018-04-11 14:48] GOPiGal commented on #95
This is a legitimate issue. Neither restart of SSH daemon nor reboot is able to to fix it. The only artifact is execution of sshd.with  -D -R arguments.

Snoopy version: 2.4.6
_/etc/snoopy.ini_ on the **dest.host**
[code]
After the reboot following commands are executed

_/var/log/snoopy.log_
[code]
_/var/log/auth.log_
[code]

[2018-04-11 15:20] GOPiGal opened #133 "Non-root commands are not logged if "file" output is used and target file is not writeable by non-root users"
Remote execution of command via SSH is logged only as execution of sshd with  -D -R arguments.
It is reported in #95 and ~~incorrectly~~ correctly marked as incorrect report :-)

Architecture: _x86_64_
Linux distribution: _Ubuntu 16.04.3 Xenial Xerus_
Snoopy version: _2.4.6_
Snoopy config file was used: _yes (see below)_
Snoopy installed with _snoopy-install.sh_

_/etc/snoopy.ini_ on the **dest.ho

[2018-04-11 19:26] bostjan commented on #95
Works for me:
[code]

[code]

[2018-04-11 19:39] bostjan commented on #133
What is the purpose of not using the syslog?

From what I can tell (and I am guessing your /var/log/snoopy.log file is owned by root and of 644 permissions) you are trying to write as a non-root user to root-owned file.

Is that the case (remember that snoopy runs in the context of each process, inheriting its UID/GID)?

[2018-04-11 19:41] bostjan commented on #95
@pythonsky, check #133 for the answer.

[2018-04-11 20:08] bostjan commented on #133
Actually, here:
https://github.com/a2o/snoopy/blob/master/etc/snoopy.ini.in#L111

Quote:
[code]

[2018-04-12 07:46] GOPiGal commented on #133
Hello,

I salute you, Sir and I enroll to school to learn reading ;-(
The issue I had was related to FS permissions, after adjusting them it works fine.

Thank you for your support & Regards

[2018-04-12 08:37] bostjan commented on #133
Excellent :)

**Point 1:**
@GOPiGal, if you have any idea how to document this better, feel free to submit a pull request with documentation updates.

**Point 2:**
Why are you not using syslog but instead opting for direct to-file logging? I would like to understand the use case behind this, hence my asking. Thank you for letting me know.

[2018-04-12 08:56] #121 closed

[2018-04-12 08:59] bostjan commented on #123
Fixed by merging pull request #122. This will be included in the next release.

[2018-04-12 08:59] #123 closed

[2018-04-12 09:01] GOPiGal commented on #133
Point 1: The only thing I can think of is to put the information in the example conf file as commented line next the one describing how to set it up

Point 2:  I am pulling it into Splunk and if I have it in a separate file it will easy parsing events. (Not by far but...). However chmod 6666 on the log is a game changer - users would easily access the log which is not necessarily my intent so I pl

[2018-04-12 09:14] bostjan commented on #119
@jibriss @arlin2050 @mikaelmasson do you have any chroot set up for your appache?

Can you produce a LXC (or Docker) container creation instructions to reproduce this? I am using Apache+PHP all the time and I've had zero problems like the ones you are describing.

[2018-04-12 09:27] bostjan commented on #117
Excellent.
I'll review your PR #118 and merge it for the next release.
(It is a bit bigger update to the code, that is why I didn't merge it right away.)

[2018-04-12 10:52] bostjan commented on #133
Like this?
[code]

[2018-04-12 11:37] GOPiGal commented on #133
:-) Or like this:
-;output = file:/var/log/snoopy.log
+;output = file:/var/log/snoopy.log   ; NOTICE: Needs appropriate file permissions for all users that are to be snoopied. Using "root:root:0666" will only allow logging root's commands.

[2018-04-12 12:50] bostjan commented on #133
Looks good. Please create pull request for this :)

[2018-04-15 00:13] bostjan commented on #116
I've replicated this locally - monit does double fork to execute external command and the second child segfaults somewhere in the `snoopy_log_syscall_execv(filename, argv)` function, here:
https://github.com/a2o/snoopy/blob/master/src/eventsource/execve_wrapper.c#L61

@tkimball83, did you get any core file generated out of this?

[2018-04-15 00:25] bostjan commented on #116
`./configure --enable-everything --disable-thread-safety` "resolves" the issue.

[2018-04-15 01:24] bostjan commented on #116
Currently I have no idea yet what is going on. It might be related to `monit`'s usage of `vfork` which causes the child process to be executed in parent context. It might be that mutex does not work as expected in such context.

[2018-04-15 01:29] bostjan commented on #116
For the reference, this is how to reproduce the issue:

    lxc-create -n t-centos7-snoopy-bug116 -t download -- -d centos -r 7 -a amd64
    lxc-start   -n t-centos7-snoopy-bug116
    lxc-attach -n t-centos7-snoopy-bug116

Inside container:

    1. Enable epel repo
    2. Follow this issue's "Steps to reproduce" section.
    3. Start the monit with `/usr/bin/monit -I -vv` or prefix it with `strace

[2018-04-16 16:31] HarjeetPahuja opened #134 "Instances status is not coming up after installing Snoopy"
I am just configuring snoopy in running instance and taking AMI of that instance then launch new instance to AMI but instance health is not coming up .

[2018-04-16 16:37] bostjan commented on #134
@HarjeetPahuja, this is not very much to go on.

Provide what is actually the issue from within EC2 instance - is a particular daemon not starting? If so, which and what are the error messages?

[2018-05-04 11:47] bostjan opened #135 "Create distribution-specific installation channels"
Using the install script gives users a simple method to initially deploy Snoopy, but upgrades of installed packages are not part of the picture. Since Snoopy is an omnipresent library, pre-loaded into almost any running process, simple upgrades should be provided.

The objective is to provide installation and upgrade methods that utilize distribution-specific channels.
Part of this objective is to

[2018-05-04 11:48] bostjan commented on #135
Ubuntu active LTS releases (currently 14.04, 16.04 and 18.04).

[2018-05-04 11:48] bostjan commented on #135
RHEL / CentOS 7.x

[2018-06-19 12:00] Sagararora2492 opened #137 "Snoopy Logging unneccessary commands"
Hi ,

I have been using snoopy in my testing environment , i am facing issues with snoopy logging unnecessary logs are also logged in snoopy.log i have tried multiple filtering patterns but nothing worked out below are the logs sample and my snoopy config

pid:17746 uid:0 sid:17349 tty:/dev/pts/3 cwd:/root filename:/usr/bin/su]: su test
[pid:17747 uid:1001 sid:17349 tty:/dev/pts/3 cwd:/root filena

[2018-06-21 12:39] bostjan commented on #137
I am not sure which commands are redundant in the pasted log content. Can you elaborate?

[2018-06-21 16:49] Sagararora2492 commented on #137
Commands : /usr/libexec/grepconf.sh]: /usr/libexec/grepconf.sh -c  ,  /usr/bin/id -u ,

Above commands are not actually hit by any user they are internel commands i want to get rid of that so that i can plot the trends of all user commands on kibana
Less was hit by user but this command was logged twice (/usr/bin/lesspipe.sh /alog/snoopy.log , /usr/bin/lesspipe.sh /alog/snoopy.log)

[2018-06-21 23:59] bostjan commented on #137
These commands are executed by bash, for whatever reason (.bashrc, /etc/profile).

When importing to kibana, you can apply filtering there, or run your snoopy output through any syslog daemon capable of regex-based filtering. Regex-based filtering is currently not supported by Snoopy filtering facilities (pull requests welcome, of course).

[2018-07-18 09:31] mrsanuk opened #138 "CoreOS or Docker support"
Have you ever tried run snoopy on CoreOS or in Docker container?

[2018-07-25 07:45] bostjan opened #139 "Review SonarQube analysis results"
A SonarQube scan has been performed.

The results can be found here:
https://sonarcloud.io/dashboard?id=snoopy

**Expectation:**
Review the results and fix anything that needs fixing.

[2018-10-18 13:37] nvaiser opened #140 "After rebooting or updates, "d.so: object '/lib/x86_64-linux-gnu/libsnoopy.so' from /etc/ld.so.preload cannot be preloaded ""
## Checklist before I submit this issue report
I confirm that:
- [YES] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#i1-version-information-and-download-links (not the latest Snoopy version packaged by your favorite distribution, it might be out of date)
- [YES ] I have read Snoopy documentation @ https://github.com/a2o/snoopy/blob/master/README.md

[2018-10-22 22:32] bostjan commented on #140
@nvaiser , apparently the `/lib/x86_64-linux-gnu/libsnoopy.so` file preloader is looking for (as configured in `/etc/ld.so.preload`) isn't there, for whatever reason.

There are two options here (mostly):
- Either something changes `/etc/ld.so.preload` to point to the invalid snoopy path,
- Or the snoopy library file is removed for some reason.

I don't think this has anything to do with Snoopy it

[2018-10-23 12:29] nvaiser commented on #140
Thanks for the reply bostjan.

So that's the thing, the file is there so I don't know where to troubleshoot next:

#cat /etc/ld.so.preload
/lib/x86_64-linux-gnu/libsnoopy.so

 #ls -al /lib/x86_64-linux-gnu/libsnoopy.so
lrwxrwxrwx 1 root root 18 Sep 19 01:09 /lib/x86_64-linux-gnu/libsnoopy.so -> libsnoopy.so.0.0.0

#ls -al /lib/x86_64-linux-gnu/libsnoopy.so.0.0.0
-rw-r--r-- 1 root root 55984 Sep 19

[2018-10-24 13:32] bostjan commented on #140
Ha, interesting.
File permissions look fine.

Is this running in any sort of container, or is there some additional security measure in place (selinux, apparmor and similar)?

Can you try running your command through `strace` to see if there is anything significant returned?

    strace -f dig <YOUR-ARGS-HERE>

If you're unfamiliar with strace output, paste it somewhere (gist) and provide the link

[2018-11-26 21:29] eugk opened #141 "Snoopy causing tmux to hang"
## Checklist before I submit this issue report

I confirm that:
- [ X ] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#i1-version-information-and-download-links (not the latest Snoopy version packaged by your favorite distribution, it might be out of date)
- [ X ] I have read Snoopy documentation @ https://github.com/a2o/snoopy/blob/master/README.md

[2018-11-30 14:46] bostjan commented on #141
@eugk, seems to be working for me (tmux in CentOS 6.x LXC container, with latest Snoopy from git installed as specified).

![image](https://user-images.githubusercontent.com/107080/49295865-1303aa80-f4b7-11e8-95ec-5d9b94c7521c.png)

Do you have any .bash_profile/.bashrc files that do odd things?
If so, can you try removing those and see if it fixes the issue?

[2018-11-30 17:56] eugk commented on #141
Interesting. It works if I run tmux-2.8, but hangs on tmux-2.3. I don't know what the interaction is with snoopy that's breaking the older tmux version, but I should be able to move people to the new one.

[2018-11-30 21:19] bostjan commented on #141
How did you install the 2.3 version? I installed "mine" from EPEL, which apparently installs v1.6-3.

[2018-12-03 19:07] eugk commented on #141
I am not sure how or why we have these versions installed. It's from an internal image that someone else updated. So far I haven't heard any complaints about tmux-2.8, so I don't plan to further investigate the issue with the older version.

[2018-12-12 02:21] bostjan commented on #141
Alright. If somebody spots something similar somewhere else (but in the latest version), we'll revise it then. Thanks for the report anyway.

[2018-12-12 02:21] #141 closed

[2018-12-20 17:34] PaulCombal opened #142 "Compiler error on strncpy0 (or GCC 8.x in general)"
I can't seem to be able to compile on Manjaro linux :(

I used the command from the README to install, but had to sudo for some reason.

`gcc version 8.2.1 20181127 (GCC)
`
[code]

Can you reproduce the error, or did I do something wrong?

[2018-12-26 21:33] bostjan commented on #142
Hey @PaulCombal, thanks for reporting this.

It looks like GCC 8.x has added additional checks and Snoopy is using `-Wall -Werror`, hence this issue got "pointed out".

Three things seems to be needed to get it fixed:
- Upgrade inih library
- Two minor fixes in the Snoopy itself

The PR #143 should fix this - can you test it out and confirm that this PR fixes the issue for you?

[2018-12-27 17:55] PaulCombal commented on #142
Hello @bostjan ,

Yeah, I have the same error when trying to `make` from a master clone, I tried building from PR #143 andd it worked sucessfully.

Thank you!

[2018-12-27 21:04] #142 closed

[2019-02-01 14:05] nvaiser commented on #140
Sorry for the delay!  Here is the strace output:

https://gist.github.com/natv/e6f4cc765262a1808b7def83845e4793

Thanks!

[2019-02-08 00:33] eugk commented on #141
Interesting development here. It seems that the version of tmux doesn't matter. Instead, the name of the tmux binary being run is causing it to lock up. If I run `tmux-2.8`, it works fine. If I run a copy of that same binary called `tmux`, it freezes in the way I described above. This is very strange and only happens on CentOS 6 systems where we have snoopy installed. If anyone has any ideas, plea

[2019-02-18 14:14] bostjan commented on #140
On the first glance it looks like it's reading the file OK:
[code]

Not sure what's going on. Repeating the question from my previous comment:
Is this running in any sort of container, or is there some additional security measure in place (selinux, apparmor or similar)?

[2019-03-19 09:35] r-lindner opened #144 "long message_format cut off"
Hello,
the ini parser only allows 200 characters on one line. I changed the message_format and the "cmd=..." is simply cut off [1]. If I insert something before "filename" [2], snoopy throws an error:
`ERROR: Closing data source tag not found: '}'` because the line is cut off in the middle of the variable.

1. `message_format = login="%{login}" ssh="%{env:SSH_CONNECTION}" sid=%{sid} tty="%{tty}" (

[2019-04-17 15:21] alex-ren opened #145 "exclude_spawns_of not working for main process inside the docker container"
## Checklist before I submit this issue report

I confirm that:
- [x ] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#i1-version-information-and-download-links (not the latest Snoopy version packaged by your favorite distribution, it might be out of date)
- [x ] I have read Snoopy documentation @ https://github.com/a2o/snoopy/blob/master/README.md &

[2019-05-02 01:46] edaily opened #146 "source.a2o.si is down breaking the installer"
As said in the title, http://source.a2o.si/download/snoopy seems to be down which is preventing the install script from completing.

[2019-05-07 21:26] gnalawade commented on #146
Meanwhile workaround is to try with specific version which is latest stable
./snoopy-install.sh git-snoopy-2.4.6

[2019-05-10 10:21] jualbacar commented on #146
trying ./snoopy-install.sh git-snoopy-2.4.6 I get this error, did in an Amazon Linux 2:
Making all in datasource
make[3]: se ingresa al directorio `/root/snoopy-install-from.git/src/datasource'
  CC       noop.lo
  CC       cmdline.lo
cmdline.c: In function 'snoopy_datasource_cmdline':
cmdline.c:71:79: error: comparison between pointer and zero character constant [-Werror=pointer-compare]
     for

[2019-08-26 10:35] guettli opened #147 "README: How does it work?"
I look at the github page and see the docs.

I see how I could compile snoopy. But I have no clue what the next step after compiling looks like.

Please forgive me, if I am blind.

[2019-08-26 13:21] r-lindner commented on #147
install-snoopy uses `make enable` which uses `util/snoopy-enable` which writes a line into `/etc/ld.so.preload`

[2019-09-08 17:39] MarcosFouces opened #148 "FTBFS with GCC-9"
Hello
Snoopy fails to build in a test rebuild on at least amd64 with gcc-9/g++-9, but succeeds to build with gcc-8/g++-8.

The full build log can be found at:
http://people.debian.org/~doko/logs/gcc9-20190321/snoopy_2.4.6-5_unstable_gcc9.log
The last lines of the build log are at the end of this report.

The next release of Debian (Bullseye) cannot include Snoopy if this issue is not solved.

Gree

[2019-09-10 06:23] tizitizi opened #149 "change default Snoopy output in systemd"
| Key                                 | Value             | Comments                         |
| ----------------------------------- | ----------------- | ---------------------------------|
| Architecture:                       | x86_64            | |
| Linux distribution:                 | RHEL             | |
| Distribution version:               | 7.7           | |
| Snoopy version:

[2019-10-27 16:25] rhash commented on #148
@MarcosFouces, this bug is duplicate of #142, the fix is PR #143.

Current master 360bb18e16ceaca16a22b94be9e17fd5f2184c01 is sucesfully compiled by gcc 9.2.1.

[2019-10-27 18:35] samueloph commented on #148
@rhash are there plans of making a new release soon? I see that the last one is from 2016, making a new release would be a good way of showing that there are important fixes made since then.

Thanks,

[2019-10-27 22:54] rhash commented on #148
@samueloph No idea.
I've just came here from https://bugs.debian.org/925833 to investigate the bug root cause ;)

[2019-10-28 00:46] samueloph commented on #148
@rhash sorry, I got confused and thought you were the upstream, hahaha

@bostjan do you have plans for a new release?

[2019-11-25 04:12] gcsgithub commented on #146
its bad code the LHS is a pointer being compared to a zero byte `\0' should be (char *) 0

[2019-12-03 18:57] bcg62 opened #153 "source.a2o.si still valid?"
is this still the correct location for source/releases?

It doesn't seem to be working for me.

Thanks.

[2019-12-03 19:55] bcg62 opened #154 "Errors building on el8"
## Checklist before I submit this issue report

I confirm that:
- [x ] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#i1-version-information-and-download-links (not the latest Snoopy version packaged by your favorite distribution, it might be out of date)
- [ x] I have read Snoopy documentation @ https://github.com/a2o/snoopy/blob/master/README.md &

[2020-01-23 13:47] pankajjha opened #155 "Unable to Uninstall Snoopy in Ubuntu"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#i1-version-information-and-download-links (not the latest Snoopy version packaged by your favourite distribution, it might be out of date)
- [x] I have read Snoopy documentation @ https://github.com/a2o/snoopy/blob/master/README.md & h

[2020-02-12 12:57] xenofree opened #156 "Snoopy don't log anything on FreeBSD"
Hi,

## Issue description - How was Snoopy installed

Snoopy installed on FreeBSD 12.1 through port or pkg (can't compile it on Freebsd, features.h is missing).

## Issue description - Describe the problem you are having

Snoopy don't log anything.

## Steps to reproduce

/etc/ld.so.preload doesn't exist on FreeBSD so I export LD_PRELOAD=/usr/local/lib/libsnoopy.so. I don't have any error message

[2020-04-19 08:33] MarcosFouces opened #157 "Snoopy Fails to Build with GCC-10"
Hello

I forward you this bug from Debian.
The package fails to build in a test rebuild on at least amd64 with gcc-10/g++-10, but succeeds to build with gcc-9/g++-9.
The full build log can be found at:
http://people.debian.org/~doko/logs/gcc10-20200225/snoopy_2.4.6-6_unstable_gcc10.log
Greetings,
Marcos

[2020-05-22 10:54] Lexx99 opened #158 "source.a2o.si is unreachable"
## Checklist before I submit this issue report

I confirm that:
- [x ] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#i1-version-information-and-download-links (not the latest Snoopy version packaged by your favorite distribution, it might be out of date)
- [ x] I have read Snoopy documentation @ https://github.com/a2o/snoopy/blob/master/README.md &

[2020-10-02 09:55] dAnjou commented on #138
@rdlmda, this is most likely caused by #158. A workaround is to install from a Git ref: https://github.com/a2o/snoopy/blob/360bb18e16ceaca16a22b94be9e17fd5f2184c01/doc/install/bin/snoopy-install.sh#L29 which just worked for me.

[2020-10-03 23:21] bostjan opened #159 "Build error on Amazon Linux 2"
trying ./snoopy-install.sh git-snoopy-2.4.6 I get this error, did in an Amazon Linux 2:
Making all in datasource
make[3]: se ingresa al directorio `/root/snoopy-install-from.git/src/datasource'
  CC       noop.lo
  CC       cmdline.lo
cmdline.c: In function 'snoopy_datasource_cmdline':
cmdline.c:71:79: error: comparison between pointer and zero character constant [-Werror=pointer-compare]
     for

[2020-10-03 23:22] bostjan commented on #159
Response from @gcsgithub:
https://github.com/a2o/snoopy/issues/146#issuecomment-557979433

[2020-10-03 23:23] bostjan commented on #146
Moved @jualbacar and @gcsgithub's comments into a new issue #159.

Guys, please don't conflate separate problems inside one ticket, thanks. ;)

[2020-10-03 23:35] bostjan commented on #146
That domain was only used as a download source because GitHub was not allowing uploading custom .tar.gz files at the time. Created a release here and converted the install script to use GitHub download URL.

[2020-10-03 23:35] #146 closed

[2020-10-03 23:37] bostjan commented on #153
Not valid anymore.

Also, duplicate of #146, @bcg62 ;)

[2020-10-03 23:37] #153 closed

[2020-10-03 23:37] bostjan commented on #158
Fixed, this is duplicate of #146

[2020-10-03 23:37] #158 closed

[2020-10-03 23:40] bostjan commented on #147
Thanks for jumping in, @r-lindner. I was AFGH (AwayFromGitHub) for too long indeed ;)

[2020-10-03 23:40] #147 closed

[2020-10-04 01:12] bostjan commented on #138
Most likely a duplicate of #146, just as @dAnjou suggested. Closing now, do reopen it if the issue still persists.

[2020-10-04 01:12] #138 closed

[2020-10-04 03:20] bostjan commented on #142
Fix released in https://github.com/a2o/snoopy/releases/tag/snoopy-2.4.7.

[2020-10-04 03:23] bostjan commented on #148
Thanks @rhash for jumping in.

@samueloph:
Fix released in https://github.com/a2o/snoopy/releases/tag/snoopy-2.4.7.

[2020-10-04 03:23] #148 closed

[2020-10-04 03:25] bostjan commented on #159
Duplicate of #122.

[2020-10-04 03:25] #159 closed

[2020-10-04 03:30] bostjan commented on #157
@MarcosFouces, can you retry with version 2.4.7?
Which Debian version are you using for gcc-10?

[2020-10-04 12:14] bostjan commented on #155
Most likely related to #140. Closing for now, reopen if the issue still persist, but do provide the actual error (from the snoopy-install.log file that the installer generates).

[2020-10-04 12:14] #155 closed

[2020-10-04 12:18] bostjan commented on #156
No idea what's going on, and no FreeBSD system at hand either.  A PR with a fix for the missing `features.h` file would be appreciated. Closing for now, as this seems unactionable at the moment.

[2020-10-04 12:18] #156 closed

[2020-10-04 12:21] bostjan commented on #154
Hey @bcg62, this is a duplicate of #122. Fixed in 2.4.7.

[2020-10-04 12:21] #154 closed

[2020-10-04 12:23] bostjan commented on #144
Hey @r-lindner, this is a duplicate of #125. The fix was just released in the version 2.4.7.

[2020-10-04 12:23] #144 closed

[2020-10-04 12:49] bostjan commented on #145
Hey @alex-ren, this looks like a consequence of how Snoopy works:
- When the process is started, the libsnoopy.so is preloaded, and it overloads the `execv`/`execve` system calls with a function that first logs what's about to happen, and then executes the system call.
- In your particular case, when you execute `docker exec -it snoopy-docker /bin/bash`, the `bash` is such process - to log that, y

[2020-10-04 12:52] bostjan commented on #149
No idea what this is about. Feel free to feed snoopy output to rsyslog, and then do advanced filtering/dispatching with rsyslog's filtering/dispatching facilities.

[2020-10-04 12:52] #149 closed

[2020-10-04 13:52] liorco300 commented on #149
Hi my mail is being spammed with mails and I can’t  unsubscribe I get an
error,
Could you kindly remove me from the mailing list?

Thanks

On Sun, 4 Oct 2020 at 15:52 Bostjan Skufca <notifications@github.com> wrote:

[2020-10-04 19:45] bostjan commented on #157
Fixed in 2.4.8:
https://github.com/a2o/snoopy/releases/download/snoopy-2.4.8/snoopy-2.4.8.tar.gz

Thanks for reporting this, Marcos.

[2020-10-04 19:45] #157 closed

[2020-10-04 19:50] bostjan commented on #137
Closing, not really an actionable issue report.

[2020-10-04 19:50] #137 closed

[2020-10-04 19:51] #134 closed

[2020-10-04 19:54] bostjan commented on #155
PS: Manual uninstallation is simple - remove snoopy entry from the `/etc/ld.so.preload` file.

[2020-10-05 19:42] bostjan commented on #149
@liorco300, you yourself have subscribed to notifications from this repository:
![image](https://user-images.githubusercontent.com/107080/95124370-9a757100-0753-11eb-81f5-58994d5c6179.png)

I can't remove you from watching this repository, only you can. Google up how to unwatch a repository, or contact github support.

[2020-10-05 21:56] liorco300 commented on #149
Yes I know probably with another GitHub account, anyway thanks I will try
and figure it out with GitHub

On Mon, 5 Oct 2020 at 22:43 Bostjan Skufca Jese <notifications@github.com>
wrote:

[2020-11-12 21:57] bostjan opened #161 "Regression: max line length in the ini file inadvertently reverted from 512 back to 200 bytes + removing surrounding single quotes stopped working"
PR #142 undid he change/fix introduced in PR #125. Looks like PR #125 was merged in too quickly, without necessary future-proofing.

We need to either:
- Fix the way new `inih` versions are imported into Snoopy repository
- Change how the adjustment is made (potentially by defining `INI_MAX_LINE` somewhere outside the `lib/inih/src` directory)

Additionally:
- Create a test that checks the values

[2020-11-13 17:31] #161 closed

[2020-11-13 17:50] bostjan commented on #161
FIxed in 2.4.9.

[2020-11-20 12:37] bostjan commented on #85
Closing, as it looks like there are not many issues related to test suite anymore (most likely because it's not used by the install script anymore).

[2020-11-20 12:37] #85 closed

[2020-11-20 16:43] #113 closed

[2020-11-22 16:31] bostjan commented on #87
Fixed by #106.

[2020-11-22 16:31] #87 closed

[2020-11-25 00:03] bostjan commented on #119
Since Debian 8 (Jessie) is out of the picture at this point, I tried and I was able to reproduce this on Debian 9 (Stretch).

After using `strace` (with `strace -tt -f -v -o apache2-trace.out apache2 -k start -X` command, to run a single process only so simplify things) to get a basic idea about what Apache is doing, I've found a slight difference between no-Snoopy and with-Snoopy runs.

No Snoopy

[2020-11-25 00:13] bostjan commented on #119
@jibriss, @arlin2050, @mikaelmasson, the hypothesis above is confirmed.

### Temporary workaround:
Building Snoopy with `--disable-config-file` ~~fixes~~ _avoids_ the issue.

[2020-11-25 22:53] bostjan commented on #119
@jibriss, @arlin2050 or @mikaelmasson, if any of you has a few spare cycles to test out the changes from (draft) PR #168, if they indeed resolve the issue on your side, let me know how it goes.

Branch to use the code from:
https://github.com/bostjan/snoopy/tree/gh-119-fix-leaking-symbols

[2020-11-26 01:14] bostjan commented on #133
Done in commit f757b733 included in version 2.4.5.

[2020-11-26 01:14] #133 closed

[2020-11-26 01:21] bostjan commented on #86
Pointless, since `make check` was disabled in the install script long ago (via commit 04bbf6df1).

[2020-11-26 01:21] #86 closed

[2020-11-26 01:57] bostjan commented on #145
@alex-ren, now I see what you mean now. Thank you for the extra effort in making the reproduction of the issue as simple as possible.

That said, on my end, at least I see a consistent failure - both `python` processes, the main one (started via `docker run`) and the auxiliary one (started via `docker exec -it /bin/bash` and running `python `test01.py` from there), are producing entries in `/var/l

[2020-11-26 02:45] #119 closed

[2020-11-26 11:43] #117 closed

[2020-11-26 13:28] bostjan commented on #117
Sorry it took me a while to get to this, but now this is already merged and will land in 2.4.10.

Thanks again @akwizgran for the PR and for the excellent description of the problem, much appreciated.
Thanks @joaquimds for reporting this.

[2020-11-26 15:18] #145 closed

[2020-11-26 15:20] bostjan commented on #145
@alex-ren, the fix is merged and will be released in the upcoming 2.4.10 release.

Thanks for reporting the issue and thanks for making it simple to reproduce, that docker image is just awesome. ;)

[2020-11-26 15:53] bostjan commented on #155
Let me elaborate a bit, if anyone else stumbles upon this support request:
- Random guides on the internet are not supported, as they can be outdated, old, or just plain wrong.
- While there are efforts for packaging Snoopy into distributions going on, they are not yet connected to Snoopy development in any meaningful way. Fell free to suggest a viable method that would provide simple means of cre

[2020-11-26 16:04] bostjan commented on #140
I've tried reproducing this in a Parrot Docker container (current `parrotsec/core:latest`), but I can't see the error.

@nvaiser, I am closing this for now (no response in 2 years), but feel free to reopen it. However, if you do so, provide a reliable method of reproduction that I can use on my side to diagnose the issue (best in a form of a Docker container, or, as a last resort, a virtual machin

[2020-11-26 16:04] #140 closed

[2020-11-26 16:37] bostjan commented on #116
I've just retested this as described above, with both the reported 2.4.6 and with the latest 2.4.9 version, both **installed from source**, and it looks like it's working fine:
[code]

At this point, it looks like this was an issue with how the RPM package was created. Since I can't reproduce this with a stock Snoopy, I'll close this bug report. If it still doesn't work for you (with stock Snoopy,

[2020-11-26 16:37] #116 closed

[2020-11-30 14:28] bostjan opened #172 "Add gcov code coverage analysis"
Include it into SonarCloud analysis too.

[2020-12-01 00:57] #139 closed

[2021-01-07 11:35] DanOfir opened #189 "log also subprocess commands such as nodejs shell"
Hi,

I am wondering if this tool can also log commands executed inside nodejs or ruby shells, couldn't find an answer, and by testing it i see it doesn't, so just wondering if this can be enabled somehow

[2021-01-07 16:06] bostjan commented on #189
@DanOfir, are node and ruby shells those CLI tools that allow you to enter node/ruby code and they evaluate it as you enter it (once you hit the return key)? If that's the case, then the answer is `no, unless those "commands" (in reality they are usually just function calls) trigger a process creation mechanism underneath`.

If not, can you elaborate on the use case with a short example that I can

[2021-01-18 17:27] alex-ren commented on #145
@bostjan thank you so much for following up with this. Much appreciated. Let me try the new version.

[2021-01-23 17:42] #189 closed

[2021-02-02 05:32] XCM-jj opened #190 "Can you add src IP address in log?"
can you add src ip address in log ?

[2021-02-02 11:31] XCM-jj commented on #190
we face a question:
in our company,  some people use only one linux user and  password .
we can not diff them from tty or username.
but we can diff them from src IP address.
like this, use command "w",we can see ip address in the  "FROM" :
[code]

thank you .

[2021-02-02 16:35] bostjan commented on #190
If your users are connecting to this host via SSH (which is most likely the case), you can get IP address information from the environment variable right now, provided that child processes do not remove it explicitly. You can do so by adding `%{env:SSH_CLIENT}` to your `message_format` configuration variable in your `snoopy.ini`.

That said, `w`/`who` tools get IP address information from the `utm

[2021-02-03 02:23] XCM-jj commented on #190
thank you .

[2021-02-03 03:40] XCM-jj commented on #190
hello ， I want to tell you to attention:
i find i can get IP address in` env:SSH_CLIENT` by the time i log in .
But ,by the time, i use `sudo -s`  to let the user become root, the `env` do not have the key word `SSH_CLIENT` any more.

[2021-02-03 22:27] bostjan commented on #190
@XCM-jj, you _can_ configure what environmental variables sudo retains.

Here is one example resource documenting the behavior:
https://superuser.com/questions/232231/how-do-i-make-sudo-preserve-my-environment-variables

[2021-02-04 02:32] XCM-jj commented on #190
@bostjan   I left tears of no technology.

[2021-02-04 23:39] bostjan commented on #190
@XCM-jj, I have no idea what your statement `I left tears of no technology` is supposed to mean, sorry. :)

[2021-02-07 08:28] XCM-jj commented on #190
@bostjan
`I left tears of no technology`，this is a Chinese programmer jokes.

[2021-02-08 11:29] MarcoStagno opened #191 "Error messages, adding a new user"
## Checklist before I submit this issue report

I confirm that:
- [X] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#latest-version (not the latest Snoopy version packaged by your favorite distribution, which might be out of date)
- [X] I have read Snoopy's documentation @ https://github.com/a2o/snoopy/blob/master/README.md & https://github.com/a2o/s

[2021-02-09 15:55] bostjan commented on #191
Ouch!

Thanks @MarcoStagno for reporting this - it's an undesired side product of #179.

#192 should fix this issue. I'll release v2.4.12 (that will contain this fix) soon.

[2021-02-09 23:00] #191 closed

[2021-02-10 00:14] bostjan commented on #191
@MarcoStagno, Snoopy 2.4.12 has been released, containing the fix for this issue. Thanks again for reporting it.

[2021-02-10 09:04] MarcoStagno commented on #191
Thank you so much!

[2021-03-29 09:01] TANKIANAUN opened #193 "What is the limit the snoopy can log the commands?"
Hi if I use it without closing my linux, may i know what is the maximum commands can be log?
What would be the limits for the overwrite of old log happens automatically?

[2021-03-29 20:19] bostjan commented on #193
I am not 100% sure what exactly are you asking (the question is a bit unclear), but let me attempt to answer what I think you had in your mind:
- If you are asking about _how much_ logs can Snoopy generate, the answer is "unlimited". Snoopy does not care about that, all it does is capture the executed commands, and pass the data to the logging subsystem. Your logging subsystem should be (and usual

[2021-04-13 11:38] ky4k0b opened #194 "different formats for %{datetime}"
it would be great to have an option of setting different formats for timestaps not only ISO 8601
for example I use the following format for all my logs YYYY-MM-DD HH:MM:SS

[2021-04-13 21:47] bostjan commented on #194
Ha, my first thought was `wait, isn't this already supported?` :)

Good suggestion, @ky4k0b, thanks. Should happen in the next version. If you want to give it a shot with a PR, the relevant code is in the `src/datasource/datetime.*` files.

[2021-04-13 23:06] bostjan commented on #194
@ky4k0b, the feature has been merged. Can you build Snoopy from the latest master and let me know if you spot any issues?

[2021-04-14 10:22] ky4k0b commented on #194
@bostjan
just what I needed. Thanks for quick fix

[2021-04-14 10:22] #194 closed

[2021-04-14 12:33] bostjan commented on #194
Released in https://github.com/a2o/snoopy/releases/tag/snoopy-2.4.13.

[2021-04-14 15:23] Dr-Bone opened #196 "Please help. Sockets to syslog-ng not working"
## Checklist before I submit this issue report
I confirm
- [x] I have tested this with the latest version of Snoopy available @ https://github.com/a2o/snoopy#latest-version (not the latest Snoopy version packaged by your favorite distribution, which might be out of date)
- [x] I have read Snoopy's documentation @ https://github.com/a2o/snoopy/blob/master/README.md & https://github.com/a2o/snoopy/t

[2021-04-14 19:01] bostjan commented on #196
Works for me, looks like a configuration issue on your end.

**My test:**
In a debian:buster LXC container, after installing, configuring and restarting syslog-ng and installing Snoopy (2.4.13, via the install script), here is the output (slightly redacted for readability):
[code]

[2021-04-14 19:18] Dr-Bone commented on #196
wow thank you so much for your efforts and the quick reply!
That means the direction was the right one, thanks for confirming that.
I know I did not spawn a new bash after upgrading snoopy. But I doubt the functionality is broken in the old version. That leaves me with a configuration issue on my side. I'm currently a bit puzzled what I did wrong. (everything works when the logs travel through jou

[2021-04-14 19:49] bostjan commented on #196
That additional spawning of bash really depends on where you're coming from, but in my particular case (as the initial bash was started _before_ Snoopy was installed), it was actually needed. I could also have just re-entered the LXC and the result would be the same.

I'd suggest using `strace -f -p BASH-PID` on two ends here:
- on a bash that you're using to test stuff out with (you'll need to st

[2021-04-14 21:14] Dr-Bone commented on #196
I couldn't resist. I can confirm; its working as you wrote above.
Afterwards it's always obvious why something did not work, isn't it?
So the problem was that my filter was filtering for the logging facility "AUTH" and "AUTHPRIV". But by using a socket, neither the program nor the facility is set, resulting in the default facility and an empty program variable...

solution in my case was following

[2021-04-14 21:14] #196 closed

[2021-04-14 22:14] bostjan commented on #196
Ha, good one! :)

Thanks for sharing the root cause, much appreciated, maybe it will help someone else in the future.

Thanks, stay safe yourself too.

[2021-04-14 22:15] #193 closed

[2021-06-07 15:16] serveradmin247 opened #199 "How to uninstall?"
How to uninstall it?

[2021-06-07 15:18] serveradmin247 commented on #199
I assume this is enough:

snoopy-disable

[2021-06-07 15:18] #199 closed

[2021-06-29 07:07] jimklimov opened #200 "Snoopy and systemd journaling"
We use snoopy in development builds of the product to log whatever shell calls happen, to help troubleshoot why some things happen in the system :) There snoopy is just installed system-wide via `/etc/ld.so.preload:/lib/snoopy.so` and there is no particular `/etc/snoopy.ini` file so far.

Recently there was an effort to constrain the mess in systemd journals by assigning `SyslogIdentifier=%N` to s

[2021-06-30 18:10] bostjan commented on #200
Hey @jimklimov, thanks for explaining the use case.

Although I am (an implicit) systemd user, I am not all that intimately familiar with where unit names can be pulled from. I suspect for systemd-generated messages this is easy, as systemd holds this information in memory (after it reads unit config files). I also suspect that if units are configured in a "systemd way", they emit logs to stdout/s

[2021-09-16 10:45] yavuzaydin opened #201 "CSF (v14.10) plugin in DirectAdmin segfaults when Snoopy (2.4.14) is enabled"
## Checklist before starting to submit this bug report

I confirm that:
- [X] I am submitting a bug report! :)
- [X] I have tested this with the [latest stable Snoopy version](https://github.com/a2o/snoopy/releases/latest)
- [X] I have checked the [FAQ](https://github.com/a2o/snoopy/blob/master/doc/FAQ.md).
- [X] I have read Snoopy's documentation [here](https://github.com/a2o/snoopy/blob/master/R

[2021-09-27 07:26] yavuzaydin commented on #201
If there is anything I can do to help with this issue I would be glad to help. I'm not a developer so I can't send a PR but can help and give access to a server with this setup if that helps.

[2021-10-02 14:00] bostjan commented on #201
Hey @yavuzaydin, thanks for reporting this.

Mind if I ask you to test two things before I get involved further?
1. If you change the message_format value to a "static string", does the segfault still occur? If not, can you narrow it down to which data source is causing this?
2. Unrelated to #1 above, if you build Snoopy with threading support enabled (`./configure --enable-thread-safety ...`), do

[2021-10-05 14:04] yavuzaydin commented on #201
@bostjan thank you for your response.

1. the data source causing this is cmdline
2. I built from source with `./configure --enable-thread-safety --sysconfdir=/etc --enable-filtering --enable-config-file`, unfortunately still the same. I restarted the directadmin service after installing the new version, that should be sufficient right? Is a restart absolutely necessary?

[2021-10-05 22:28] bostjan commented on #201
I don't _think_ the restart is necessary once Snoopy is preloaded into your (now) running program, but it can't hurt to weed out any weird side effects of the "in-flight" replacement.

@yavuzaydin, does this method of bug reproduction work in a containerized environment (Docker, LXC), or do I have to use a dedicated VM to replicate this?

[2021-10-17 03:20] #201 closed

[2021-10-17 03:48] bostjan commented on #201
@yavuzaydin thank you for providing the infrastructure/environment to investigate this issue. Here's a quick recap:

DirectAdmin (or whatever they are using as runtime - Go, maybe?) calls `execve()` with a `NULL` `argv` argument, which is contrary to the convention (see `man execve` for details) that says "empty" `argv` (= when executing another program _without_ any arguments) should not be `NULL

[2021-11-25 14:44] vincentroberge commented on #112
I am working on Ubuntu 20.04 and I have tried to replicated the solution proposed by mpw6 to be able to monitor 32 bits and 64 bits applications. My system is configured with the 32 bits and 64 bits toolchain. Under /usr, I have /usr/lib and /usr/lib32. Under /usr/local/, I have /usr/local/lib. I tried different combination of where to copy the libsnoopy.* files, but nothing works. I am not able t

[2021-11-26 19:46] bostjan commented on #112
@vincentroberge, two things:
- @mpw6's method works (I've just tested it on Ubuntu 20.04 64bit, with 32-bit zsh installed, and snoopy logged everything)
- multiarch support is really low on a priority list - anybody dabbling with multiarch should be proficient enough to be able to resolve such issues.

That said, let me try to clean up the installation guide a bit, in hopes to get things clarified

[2021-11-26 20:16] vincentroberge commented on #112
@bostjan Thank you so much. This is a very complete guide. I just tried it and it works very well.

[2021-11-30 00:31] bostjan commented on #66
Out of scope - any decent system logger is capable of forwarding messages to remote syslog receivers. There is no need to duplicate this functionality in Snoopy.

[2021-11-30 00:31] #66 closed

[2021-11-30 00:32] bostjan commented on #65
Out of scope, and it seems pointless.

[2021-11-30 00:32] #65 closed

[2021-12-04 02:52] bostjan opened #209 "Fix ./configure --help hints (incorrectly compiled sentences, duplicate punctuation etc.)"
Sample errors:
[code]

[2022-02-21 14:44] vincentroberge opened #210 "Failed to load libsnoopy.so after manual install on Ubuntu 20.04"
## Checklist before starting to submit this bug report

I confirm that:
- [X] I am submitting a bug report! :)
- [ X] I have tested this with the [latest stable Snoopy version](https://github.com/a2o/snoopy/releases/latest) (or the latest master build).
- [X ] I have checked the [FAQ](https://github.com/a2o/snoopy/blob/master/doc/FAQ.md).
- [X ] I have read Snoopy's documentation [here](https://gi

[2022-02-21 21:19] bostjan commented on #210
Hey @vincentroberge, looks like [AppArmor](https://wiki.ubuntu.com/AppArmor) is causing this.

The `strace` tool is handy here. Here is a trace of a regular program (`/bin/echo`):
[code]

Trace of `tcpdump` on Ubuntu 20.04 (pay attention to the last line):
[code]

You can disable AppArmor for `tcpdump` like this:
[code]

It looks like the stock Ubuntu Snoopy package (not packaged by me) puts `libs

[2022-02-21 21:34] vincentroberge commented on #210
@bostjan Thank you very much for you comprehensive answer. I now understand the root cause of the problem and the solution is very well explained. I already have experience using the ./configure command to generate custom output without the need for a configuration file. It will be easy to specify the library folder. Thank you again for your rapid and complete answer. Best regards. Vincent

[2022-03-17 07:24] MrJeffyw opened #211 "snoopy can't log commands created by java"
my java location: /usr/lib/jvm/jre/bin/java
And libsnoopy.so has been loaded by java:
[root@stupid-0001 tmp]# ldd /usr/lib/jvm/jre/bin/java
	linux-vdso.so.1 =>  (0x00007fffe21e5000)
	/usr/lib64/libssh-monitor.so (0x00007f135c3a1000)
	/usr/local/lib/libsnoopy.so (0x00007f135c194000)
	libpthread.so.0 => /lib64/libpthread.so.0 (0x00007f135bf78000)
	libz.so.1 => /lib64/libz.so.1 (0x00007f135bd62000)

[2022-03-17 19:28] bostjan commented on #211
@MrJeffyw, thanks for pointing out Snoopy is indeed (pre)loaded as expected.

Can you try to produce an `strace` output of your Java application around the time when the application executes that external command? That should give us clues if Snoopy is actually doing anything, or maybe simply trying to put its output in an unexpected location.

PS: Is your Java application chroot-ed by any chance,

[2022-03-18 07:53] MrJeffyw commented on #211
I solved this problem.
The java process does not have the permission to write snoopy log, which I set is /var/log/processlog. After I executed "chmod +777 /var/log/processlog", it works!
Thanks!

[2022-03-18 07:53] #211 closed

[2022-03-19 04:05] bostjan commented on #211
Good to hear you've solved the issue, and thanks for sharing your insight.

[2022-04-13 07:55] pju51 opened #212 "Just a little question about reboot (or not) after installation."
Hello,

I want to log user account commands on my servers, and snoopy seems to fit my needs perfectly.
but I would like to install snoopy without rebooting, is it possible?

I have tried it without rebooting, it works, I log the user commands well! so why reboot my servers? If I don't reboot my servers, what will I miss?

thank you for your clarifications.

[2022-04-13 16:03] zxlin opened #213 "install-snoopy.sh latest silently failing on Github release API rate limit"
## Bug description

`install-snoopy.sh latest` silently fails when Github API's rate limit is hit. This happens if you have too many instances installing latest snoopy at the same time or too many requesting to install latest over the course of a hour.

## Bug reproduction steps

Run `install-snoopy.sh latest` 60 times within 1 hour ([Github rate limit](https://docs.github.com/en/rest/overview/res

[2022-04-18 14:13] serkan-ozal opened #214 "Log process exit time"
Hi,

Not sure whether this is possible technically but it would be helpful if somehow snoopy could log process exit times to trace the process execution times.

[2022-04-19 08:43] bostjan commented on #212
Hey @pju51,

_technically_, you don't need to reboot your system _if_ you restart _all_ the services that are currently running. If you do that, all the programs running on your system will have the Snoopy shared library loaded in their memory, and will thus log any programs they execute. However, if you _don't_ do that, programs already running from before Snoopy was installed may miss commands y

[2022-04-19 10:06] pju51 commented on #212
Thanks your for your clarification!

[2022-04-19 10:06] #212 closed

[2022-04-19 11:14] bostjan commented on #213
Thanks for reporting this, @zxlin. This "inconvenience" was introduced via issue #146 (https://github.com/a2o/snoopy/issues/146) that was fixed with [this commit](https://github.com/a2o/snoopy/commit/0bddef9297167481657f3392f95b4098ed1437f8).

Although for any deployment where number of systems is >1, an alternative Snoopy installation method should be used (i.e. create a distro package and deploy

[2022-04-19 11:36] bostjan commented on #214
Hey @serkan-ozal,

What's the actual use case that you'd want to solve with such a feature? Personally, I've never needed such information from Snoopy, because I was able to tell, from the command itself, for how long it has been running - it's either in the order or seconds, or days/weeks. In the past, for the stuff that I needed the execution time (it was a PHP application), I've built those mea

[2022-04-19 12:07] serkan-ozal commented on #214
Hi @bostjan,

The use case is that we want to trace processes with their
- name,
- start time,
- end time (or duration),
- args,
- exit code

In addition to snoopy, we have also considered using process accounting, auditd and BPF. However, as far as we experiment, currently only BPF based https://github.com/iovisor/bcc/blob/master/tools/exitsnoop.py does what we want to be able to get process exit

[2022-04-19 15:09] serkan-ozal commented on #214
Ok, thanks for the info 👍  For now, BPF based solution seems the best way for us to go.

[2022-04-19 15:09] #214 closed

[2022-04-19 18:22] zxlin commented on #213
I think I actually do like the GitHub releases approach, just an explicit warning message when the rate limit hits would be nice and much simpler for the end user to debug. It'd also leave for less mess in committing static files and just simply rely on the release system. Like you said, any large deploy should be using a dedicated packaging mechanism.

I use this to teach an infosec class about k

[2022-05-02 01:48] bostjan opened #215 "Enable thread safety by default (starting with 2.5.0)"
Thread safety support has been lying around in the background for long enough, with no (serious) issues reported. Let's enable it for all and get if of a class of issues that (very) sporadically affect(ed) a subset of Snoopy users (i.e. https://bugs.launchpad.net/ubuntu/+source/snoopy/+bug/1698090, search GitHub issue tracker for more).

[2022-06-22 00:33] #213 closed

[2022-06-22 00:45] bostjan commented on #213
@zxlin, this is fixed (and thanks again for reporting it).

I've switched the method of retrieving the latest Snoopy release version from querying Github API to simply fetching & parsing the https://raw.githubusercontent.com/a2o/snoopy/master/README.md (where the accuracy of information about the latest released version is ensured by the release process).

[2022-06-22 02:39] zxlin commented on #213
awesome, thanks for the update! going to check it out!

[2022-06-24 23:43] #209 closed

[2022-07-10 19:46] #215 closed

[2022-07-10 19:48] #172 closed

[2022-07-10 19:51] bostjan commented on #14
This has been (partially) implemented in the test suite's `tests/bin/snoopy-test` CLI tool. Good enough for now.

[2022-07-10 19:51] #14 closed

[2022-07-10 19:56] bostjan commented on #210
I'll close this issue for now, as it is related to distribution packaging and not core development. For now, distribution packaging is done by other volunteers and their work is not in sync with Snoopy core development.

That said, I am linking this issue to issue #135 - if we ever get to start releasing distribution-specific packages, we'll make sure this issue is addressed then.

[2022-07-10 19:56] #210 closed

[2022-07-10 19:58] bostjan commented on #135
Mentioning #210 here - to be taken care of when this "issue" gets addressed.

[2022-07-25 00:22] #200 closed

[2022-07-25 00:26] bostjan commented on #200
@jimklimov, latest git `master` supports using `%{systemd_unit_name}` as a value for `syslog_ident` setting. It should take care of this use case.

PS: It's in a preview state ATM, therefore any real world usage feedback would be appreciated.

[2022-07-25 07:19] jimklimov commented on #200
Hi, sorry for falling out of the loop.

I am no longer dealing with that project where snoopy was used for developer-testing "audit", so can't check directly for the use-case. But I'll let them know so maybe they would respond :)

[2022-07-25 11:45] bostjan commented on #200
No worries, and thanks for the clarification. :)

[2022-07-27 08:42] xleng2019 opened #229 "add date for ouput filename"
I tried to add "output = file:/var/log/snoopy_$(date +%Y-%m-%d) "  in the config file in order to add date to the name of log file. However, it didn't work. Am I doing it the wrong way? Thx

[2022-07-27 23:55] bostjan commented on #229
Hey @xleng2019, no, you're not doing it wrong - it is just (currently) not supported.

Question: why are you trying to implement the log rotation with Snoopy itself? Why not just use existing tools (i.e. logrotate) that already rotate other logs on your system? Just curious, and describing actual real word use cases usually helps with decisions what to implement in the future.

PS: Technically, to

[2022-07-29 02:09] xleng2019 commented on #229
I've known that. I'm going to use logrotate. Thanks.

[2022-07-29 12:29] #229 closed

[2022-08-01 17:31] bostjan commented on #82
Fixed via PR #230.

[2022-08-01 17:31] #82 closed

[2022-08-01 17:33] bostjan commented on #57
Closing for now, seems unnecessary.

[2022-08-01 17:33] #57 closed

[2022-08-01 17:35] bostjan commented on #56
Seems unnecessary for the time being.

[2022-08-01 17:35] #56 closed

[2022-08-01 17:37] bostjan commented on #76
Partially implemented via 3988de57 from PR #230 (filters can no longer mangle messages, filter processing has been moved to the beginning of the logging process, even before the message is created).

We'll leave it at that for the time being, and revive this ticket if/when need arises.

[2022-08-01 17:37] #76 closed

[2022-08-03 00:23] #77 closed

[2022-08-03 23:27] #190 closed

[2022-08-03 23:31] bostjan commented on #190
Implemented via #233.

It can be enabled with the `ipaddr` data source in `message_format` setting:
[code]

This feature will be released in v2.5.0.

@XCM-jj thanks for suggesting this.

[2022-08-04 22:28] bostjan commented on #229
Hey @xleng2019, you're in luck - some unrelated refactoring made implementing this feature very easy ;)

It is currently already available in `master`, and it will be released with Snoopy v2.5.0 soon. Enjoy.

[2022-08-08 19:14] captainwasabi commented on #140
I am getting this error anytime I use an lxc command.  i.e.

# lxc list

LXD runs in a snap and I get the following in the audit.log

type=AVC msg=audit(1659985925.205:660842): apparmor="DENIED" operation="open" profile="/snap/core/13425/usr/lib/snapd/snap-confine" name="/lib/x86_64-linux-gnu/libsnoopy.so.0.0.0" pid=419713 comm="snap-confine" requested_mask="r" denied_mask="r" fsuid=0 ouid=0

[2022-08-08 19:24] captainwasabi opened #237 "object '/lib/x86_64-linux-gnu/libsnoopy.so' from /etc/ld.so.preload cannot be preloaded"
I am getting this error anytime I use an lxc command.  i.e.

    # lxc list

LXD runs in a snap and I get the following in the audit.log

    type=AVC msg=audit(1659985925.205:660842): apparmor="DENIED" operation="open"
    profile="/snap/core/13425/usr/lib/snapd/snap-confine" name="/lib/x86_64-linux-gnu/libsnoopy.so.0.0.0" pid=419713
    comm="snap-confine" requested_mask="r" denied_mask="r" fsui

[2022-08-09 11:52] bostjan commented on #237
On which host OS can I reproduce this? Ubuntu 20.04 or 22.04?

[2022-08-09 12:32] captainwasabi commented on #237
I'm on 20.04.  However I think this box may have started with 12.04->16.04->18.04->20.04 if that makes a difference.

[2022-08-10 00:56] bostjan commented on #237
I'll look into this, thanks for the clarification.

These distro-specific issues are something that I'll try to solve with #135.

[2022-08-19 15:24] #135 closed

[2022-08-19 16:01] bostjan commented on #135
Snoopy 2.5.0 will be available as a binary package too. :)

Information about supported Linux distributions and installation steps are available here:
https://github.com/a2o/snoopy/blob/master/doc/install-from-repo.md

Testing repositories are already up (version 2.5.0rc1 will land in there shortly).

[2022-08-27 23:43] #237 closed

[2022-08-27 23:53] bostjan commented on #237
In short, snapd has a very locked down AppArmor profile, down to listing individual shared libraries that it is allowing to load (`/etc/apparmor.d/usr.lib.snapd.snap-confine.real`), probably in order to prevent unauthorised random code to run alongside the original code.

On the other hand, Snoopy is exactly what Snap's AppArmor profile is trying to prevent - interposed, "unauthorised" third-party

[2022-09-15 18:57] bostjan opened #246 "Iron out cross compilation issues"
Snoopy v2.5.0 seems to be having problems building on (some) non-x86_64 platforms:
https://buildd.debian.org/status/package.php?p=snoopy

[2022-09-15 18:58] bostjan commented on #246
cc @MarcosFouces

[2022-09-22 07:22] chaishiqi opened #248 "some commands can't be recorded"
Hi, I found that some commands for example cd,pwd can't be recorded. Is it only the process has the pid will be right?

[2022-09-22 17:47] bostjan commented on #248
Hey @chaishiqi,

You are, essentially, correct. `cd`, `pwd`, `echo` are shell built-in commands. What usually makes this a bit confusing is that some of these commands are also provided as binaries in the `/bin` directory (`cd` is _not_ one of those, but the other two are). Shell built-ins don't use the `execv()`/`execve()` syscall, which is where Snoopy interposes itself to catch the commands. So

[2022-09-23 02:18] chaishiqi commented on #248
Understand，thanks very much for your answer.

[2022-09-23 07:11] #248 closed

[2022-09-28 19:46] #246 closed

[2022-10-07 13:18] lroehrs opened #249 "Snoopy ignores config under /etc/ (building from source)"
## Bug description

We updated a few weeks ago to the Version 2.5.0.rc2 because of a bug with jdk.
Since the Update our custom Log pattern wasn't set anymore.
The configuration is set to `/etc/snoopy.ini` as it is described in the docs.

After some rebuild and testing with 2.5.1., I saw that the CLI tool `snoopyctl` using a different config path:
[code]

With the copied configuration to `/usr/loca

[2022-10-07 15:00] bostjan commented on #249
@lroehrs, I cannot resist to respond with _this is not a bug, it's a feature_ ™ :)

Let me explain:
All projects that use the [GNU Autotools](https://en.wikipedia.org/wiki/GNU_Autotools) in its default configuration have the `install` step place their files under the `/usr/local` directory. This target location can, however, be changed by passing flags to the `./configure` command. In your case, y

[2022-10-07 18:31] lroehrs commented on #249
Hi @bostjan,
thanks for you're fast reply! (And for the project.)

You're right, I totally agree with you.

I guess we build it a half year ago with the [install-snoopy.sh](https://github.com/a2o/snoopy/blob/master/install/install-snoopy.sh) instead of building it from source. Probably a internal documentation how we build it would be helpful, sorry for wasting you're time. :see_no_evil:

[2022-10-07 18:31] #249 closed

[2022-10-07 22:04] bostjan commented on #249
All good, no worries - these Q&A "issues" help others too, when they pop up in google.

[2022-10-28 04:45] QGB opened #250 "Ubuntu 18.04.6 LTS install error"
[code]

[2022-10-28 07:42] bostjan commented on #250
Hey @QGB,

Our CI was able to install Snoopy on stock Ubuntu 18.04 Docker container when 2.5.1 was released. Run log is available here:
https://github.com/a2o/snoopy/actions/runs/3146771488/jobs/5115593327

Additionally, I've manually verified installing Snoopy in such container (from our APT repository, let's call it "upstream") and it installed successfully. These are the dependencies:
[code]

Q

[2022-10-28 08:16] QGB commented on #250
@bostjan  cygwin just a network mount driver

I use this command to install
[code]
My glibc version is too old? how to update it?

[code]

[2022-10-28 09:44] bostjan commented on #250
I think you've simply tried to install the package that is provided for Debian Bookworm, and not the one for Ubuntu 18.04.

Your command (the relevant part, quoted from your answer above):
[code]

Instead, on Ubuntu 18.04 (Bionic Beaver) you should use [the one provided in the installation guide](https://github.com/a2o/snoopy/blob/master/doc/install-from-repo.md#ubuntu) (pay attention to the `debi

[2022-10-28 14:57] QGB commented on #250
It works, Thanks for help @bostjan

[code]

[2022-10-28 15:07] QGB commented on #250
@bostjan How to make snoopy reload the /etc/snoopy.ini

`snoopyctl disable;snoopyctl enable` ?

log file is not created

[2022-10-28 15:21] QGB commented on #250
[code]

[2022-10-28 15:27] bostjan commented on #250
`snoopyctl` does not manage the log file. If the log file does not yet exist, it is created by the `libsnoopy.so` when it is triggered (when a program that has `libsnoopy` loaded into its memory tries to execute another program.

So, in short, once you have run `snoopyctl enable` (which puts path to `libsnoopy.so` into `/etc/ld.so.preload`), you need to either (re)start the programs to make them p

[2022-11-09 10:57] alo0 opened #251 "exclude_spawns_of not working as expected"
Hello,

I confirm that:
- [X] I am requesting support! :)
- [X] I have tested this with the [latest stable Snoopy version](https://github.com/a2o/snoopy/releases/latest) (or the latest master build).
- [X] I have checked the [FAQ](https://github.com/a2o/snoopy/blob/master/doc/FAQ.md).
- [X] I have read Snoopy's documentation [here](https://github.com/a2o/snoopy/blob/master/README.md) and [here](ht

[2022-11-09 11:15] alo0 commented on #251
Forgot to add that I installed snoopy using the debian 11 (Bullseye) repo:
`curl https://a2o.github.io/snoopy-packages/snoopy-packages-key.pub | apt-key add - &&`
`echo "deb https://a2o.github.io/snoopy-packages/repo/debian bullseye stable" > /etc/apt/sources.list.d/snoopy-stable.list &&`
`apt update &&`
`apt install snoopy`
(Installed without warnings)

Proxmox VE 7.0 is based on Debian 11 so it

[2022-11-09 17:26] bostjan commented on #251
@alo0, thanks for the detailed report.

The only things that immediately spring to my mind are:
1. A potential `cron` vs `crond` discrepancy, but I've checked on Ubuntu (which is based on Debian and usually not too dissimilar) and indeed the process name is `cron`. Is the daemon name indeed `cron` and not `crond` on your Proxmox system too?
2. Are **all** processes that are executed under `cron` l

[2022-11-09 18:23] alo0 commented on #251
Thank you @bostjan for your quick response

pve_firewall is not executed by cron but by systemd. So I don't think the issue is related to cron. Btw it is cron in proxmox as in debian.

`$ ps -edf`
`UID          PID    PPID  C STIME TTY          TIME CMD`
`root           1       0  0 16:33 ?        00:00:00 /sbin/init`
`...`
`root        1562       1  0 16:33 ?        00:00:06 pve-firewall`
`...`

[2022-11-10 02:29] bostjan commented on #251
Thanks for correcting the `cron`/`pve-firewall` inconsistency from my response.

Yeah, I can't see any sane reason why this shouldn't work as expected.

Unfortunately, the filtering implementation (and this filter too) is fairly weak in terms of either tracing or error reporting, so this might be a bit of a challenge to figure out.

BTW, revisiting your Snoopy configuration listed above, I see the

[2022-11-10 02:37] bostjan commented on #251
Note to self: there are no tests for verifying the correctness of processing the filter chain. Fix it.

[2022-11-12 13:40] alo0 commented on #251
Tested with a fresh debian and exclude_spawns_of  working perfectly.
Next step will be to try on a freshly installed Proxmox.

[2022-11-12 14:37] alo0 commented on #251
Tested on a vbox with freshly installed proxmox 7 over debian 11
=> exclude_spawns_of work is working perfectly

Next step will be to reinstall my OVH server using the proxmox template and test again...

[2022-11-16 01:41] bostjan commented on #251
Interesting. Looking forward to your next update.

Anyhow, I am not 100% sure what's going on with that TTY-related filter I mentioned above. But if I ignore that, the most likely culprit is probably a somehow limited access to the `/proc/<PID>/stat` content. Unfortunately, I cannot provide any meaningful method of discovery/confirmation for this statement, as Snoopy, in its current state, is real

[2022-11-27 20:37] alo0 commented on #251
I am sorry to say that I can't reproduce the issue anymore.
Since last time, I
1. Flush out the iptables and switch off and on the PVE firewall
2. upgraded several packages (as proposed by the distro)
It seems one or both of these operations solved the problem and now everything is working correctly.

Unless the problem appear again, I won't be able to provide you more insights.

Thank again for t

[2022-11-27 20:37] #251 closed

[2022-11-27 21:37] bostjan commented on #251
Thank you for the update.